body {
  margin: 0;
  box-sizing: border-box;

  header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
      0 0 2px rgb(0 0 0 / 7%);
    position: relative;
    img.logo {
      width: 40px;
      margin: 12px 16px;
    }
    .header-nav-left {
      height: 64px;
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      ul.header-nav {
        display: flex;
        align-items: center;
        height: 64px;
        margin: 0;
        li.search {
          list-style: none;
          width: 24px;
          height: 24px;
          display: inline;
        }
        li.cart {
          list-style: none;
          width: 24px;
          height: 24px;
          display: inline;
          margin: 0 0 0 32px;
        }
      }
      .hamburger-button {
        width: 100px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        span.span1 {
          position: absolute;
          width: 20px;
          height: 2px;
          background: rgba(0, 0, 0, 0.87);
          display: block;
          top: 12.5px;
        }
        span.span2 {
          position: absolute;
          width: 20px;
          height: 2px;
          background: rgba(0, 0, 0, 0.87);
          display: block;
          top: 19px;
        }
        span.span3 {
          position: absolute;
          width: 20px;
          height: 2px;
          background: rgba(0, 0, 0, 0.87);
          display: block;
          top: 25.5px;
        }
      }
    }
  }
  h1.visually-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }
  main.top-wrapper {
    width: 100%;
    article.bonner-wrapper {
      background-color: #edebe9;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      img.drink-img {
        width: 100vw;
      }
      .bonner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 4px;
        img.hand-img {
          width: 49.46vw;
        }
        img.imgs-img {
          width: 49.46vw;
        }
      }
    }
    article.whats-brewing {
      padding-left: 16px;
      padding-bottom: 20px;
      h2 {
        font-size: 1.125rem;
        text-align: center;
        margin: 55px 0 40px 0;
      }
      .brewing-swiper {
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              .brewing-text {
                position: relative;
                z-index: 10;
              }
            }
          }
        }
      }
    }
    article.other-service {
      height: 170px;
      display: flex;
      flex-direction: column;
      margin: 32px 16px 0 16px;
      gap: 16px;
      background: transparent;
      figure.cache-less {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0 0 0 0;
        img.cache-less-img {
          width: 77px;
          height: 77px;
        }
        figcaption.cache-less-text {
          p.cache-less-comment {
            font-size: 13px;
          }
        }
      }
      figure.arbeit {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0;
        img.arbeit-img {
          width: 77px;
          height: 77px;
        }
        figcaption.arbeit-text {
          font-size: 13px;
        }
      }
    }
    .online-store-line {
      background-color: rgba(0, 0, 0, 0.1);
      width: 100vw;
      height: 13px;
      margin: 55px 0 0 0;
    }
    article.online-store {
      background-color: #d4e9e2;
      padding: 0 0 64px 0;
      .online-store-title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 24px;
        text-align: center;
        padding: 56px 0 0 0;
        margin: 0;
      }
      .online-store-comment {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1.04px;
        line-height: 22.75px;
        text-align: center;
        margin: 8px 0 0 0;
      }
      .online-store-img-1of2 {
        margin: 38px 16px 0 16px;
        display: flex;
        gap: 4px;
        figure.online-store-1of4 {
          margin: 0;
          img.tumbler {
            width: 45.2vw;
            border-radius: 12px;
            margin: 0 0 10px 0;
          }
          figcaption.tumbler-comment {
            p.goods-1of4 {
              font-size: 11px;
              font-weight: 400;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 7.6vh;
              margin: 0 0 13px 0;
            }
            p.tumbler-price {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 17px;
            }
          }
          // button.online-store {
          //   border-bottom-left-radius: 50px;
          //   border-bottom-right-radius: 50px;
          //   border-top-left-radius: 50px;
          //   border-top-right-radius: 50px;
          //   font-size: 13px;
          //   padding: 5px 0 6px 0;
          //   width: 39.5vw;
          //   height: 4.8vh;
          //   background-color: #fff;
          //   border: 1px solid rgb(0, 117, 74);
          //   font-weight: 500;
          //   color: rgb(0, 117, 74);
          //   margin: 0;
          // }
        }
        figure.online-store-2of4 {
          margin: 0;
          img.bag {
            width: 45.2vw;
            border-radius: 12px;
            margin: 0 0 10px 0;
          }
          figcaption.bag-comment {
            p.goods-2of4 {
              font-size: 11px;
              font-weight: 400;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 7.6vh;
              margin: 0 0 13px 0;
            }
            p.bag-price {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 17px;
            }
          }
        }
      }
      .online-store-img-2of2 {
        margin: 38px 16px 0 16px;
        display: flex;
        gap: 4px;
        figure.online-store-3of4 {
          margin: 0;
          img.mag-cap {
            width: 45.2vw;
            border-radius: 12px;
            margin: 0 0 10px 0;
          }
          figcaption.mag-cap-comment {
            p.goods-3of4 {
              font-size: 11px;
              font-weight: 400;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 7.6vh;
              margin: 0 0 13px 0;
            }
            p.mag-cap-price {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 17px;
            }
          }
        }
        figure.online-store-4of4 {
          margin: 0;
          img.gift-card {
            width: 45.2vw;
            border-radius: 12px;
            margin: 0 0 10px 0;
          }
          figcaption.gift-card-comment {
            p.goods-4of4 {
              font-size: 11px;
              font-weight: 400;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 7.6vh;
              margin: 0 0 13px 0;
            }
            p.gift-card-price {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: normal;
              line-height: 17px;
              width: 39.6vw;
              height: 17px;
            }
          }
        }
      }
      .online-store-list {
        margin: 24px 16px 0 0;
        display: flex;
        justify-content: end;
        gap: 12px;
        width: 100vw;
        p.online-text-list {
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 1.04px;
          line-height: 24px;
          color: #00754a;
          margin: 0;
        }
      }
    }
    .stories-line {
      background-color: rgba(0, 0, 0, 0.1);
      width: 100vw;
      height: 13px;
    }
    article.stories-swiper {
      margin: 56px 0 56px 16px;
      img.stories {
        width: 139.781px;
        margin: 0 auto 40px auto;
        display: block;
      }
      img.stories-img {
        width: 224px;
        height: 224px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      .stories-text {
        width: 196px;
        height: 89px;
        padding: 12px 14px 16px 14px;
        display: flex;
        flex-direction: column;

        p.stories-description {
          font-size: 13px;
          width: 196px;
          height: 60px;
          margin: 0;
          text-align: start;
        }
        .stories-text-bottom {
          display: flex;
          justify-content: space-between;
          margin-top: auto;
          p.stories-people-community {
            font-size: 10px;
            color: #499a5f;
            margin: 0;
          }
          p.stories-date {
            text-align: end;
            font-size: 10px;
            margin: 0;
          }
        }
      }
      .stories-list {
        color: #499a5f;
        display: flex;
        justify-content: end;
        gap: 4px;
        margin: 32px 16px 0 16px;
        .stories-text-list {
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
        }
      }
    }
    article.notice {
      .notice-line {
        background-color: rgba(0, 0, 0, 0.1);
        width: 100vw;
        height: 8px;
      }
    }
    // 共通
    button.online-store {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      font-size: 13px;
      font-weight: 500;
      padding: 5px 0 6px 0;
      width: 39.5vw;
      height: 4.8vh;
      background-color: #fff;
      border: 1px solid rgb(0, 117, 74);
      font-weight: 500;
      color: rgb(0, 117, 74);
      padding: 5px 0 6px 0;
      margin: 0 0 10px 0;
    }
  }
}
