.event {
  display: flex;
  flex-direction: column;
  background-color: #ffc4f3;
  .eventContent {
    .eventcontent {
      align-items: center;
      margin: 2vh 0 0 0;
      .event-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;
      }
      .event-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;
        margin: 1.5vh 0 0 0;
      }
    }
  }
  .eventSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5vh;
    margin: 7.5vh 0 0 0;
    .ridingSection {
      img.ridingImg {
        width: 45vw;
        display: block;
        margin: 3vh auto 0 auto;
      }
      dl.ridingTime {
        margin: 1.5vh 0 0 0;
      }
    }
    .feedingSection {
      .feedingImg {
        width: 72vw;
        display: flex;
        justify-content: center;
        gap: 2.6vw;
        margin: 3vh auto 0 auto;
        img {
          width: 36vw;
          margin: 0;
        }
      }
      dl.feedingTime {
        margin: 1.5vh 0 0 0;
      }
    }
    .interactingSection {
      .interactingImg {
        width: 72vw;
        display: flex;
        justify-content: center;
        gap: 2.6vw;
        margin: 3vh auto 0 auto;
        img {
          width: 36vw;
          margin: 0;
        }
      }
      dl.interactingTime {
        margin: 1.5vh 0 0 0;
      }
    }
    .explanationSection {
      .explanationImg {
        width: 72vw;
        display: flex;
        justify-content: center;
        gap: 2.6vw;
        margin: 3vh auto 0 auto;
        img {
          width: 36vw;
          margin: 0;
        }
      }
      dl.ExplanationTime {
        margin: 1.5vh 0 0 0;
      }
    }
  }
}

// 共通
dl.a {
  line-height: 1;
  display: flex;
  flex-direction: column;
  dt.b {
    font-size: 0.875rem;
    font-weight: bold;
    color: #5c7e4b;
    display: flex;
    gap: 2.7vw;
    margin: 1.5vh 0 0 0;
    &::before {
      content: "";
      @extend .circle;
      display: inline-block;
    }
  }
  dd.c {
    font-size: 0.875rem;
    display: flex;
    gap: 2.7vw;
    margin: 1.5vh 0 0 7vw;
    &::before {
      content: "";
      @extend .Wcircle;
      display: inline-block;
    }
  }
}
a {
  cursor: pointer;
  font-weight: normal;
}
/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  .event {
    .eventInfo {
      h1 {
        margin: 2.5vh 0 0 8vw;
        font-size: clamp(2rem, 2.5vw, 3rem);
      }
    }
    .eventContent {
      width: 50vw;
      margin: 5.5vh auto 5.5vh auto;
      border-radius: clamp(20px, 1.6vw, 30px);
      .eventcontent {
        display: flex;
        justify-content: center;
        margin: 5.5vh 0 0 0;
        gap: 2vw;
        .event-right {
          margin: 0;
        }
      }
    }
    .eventSection {
      gap: 9.2vh;
      .ridingSection {
        img.ridingImg {
          width: 31vw;
        }
      }
      .feedingSection {
        .feedingDetail {
          margin: 0 auto;
        }
        .feedingImg {
          width: 25vw;
          gap: 1vw;
          img {
            width: 15vw;
          }
        }
      }
      .interactingSection {
        .interactingDetail {
          margin: 0 auto;
        }
        .interactingImg {
          width: 25vw;
          gap: 1vw;
          img {
            width: 15vw;
          }
        }
      }
      .explanationSection {
        .explanationDetail {
          margin: 0 auto;
        }
        .explanationImg {
          width: 25vw;
          gap: 1vw;
          img {
            width: 15vw;
          }
        }
      }
    }
  }
}
// 共通
dl.a {
  dt.b {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    gap: 1.6vw;
  }
  dd.c {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    margin: 1.5vh 0 0 3vw;
    gap: 1.5vw;
  }
}
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}
