$P-color: #5c7e4b;

header {
  position: sticky;
  width: 100%;
  height: clamp(60px, 13.6vw, 150px);
  top: 0;
  left: 0;
  z-index: 111;
}
.background {
  background-color: #4a9b60;
  width: 100%;
  height: clamp(60px, 13.6vw, 150px);
  img {
    width: clamp(94px, 20vw, 259px);
    height: clamp(60px, 13.6vw, 150px);
    margin-left: 5.2vw;
    aspect-ratio: 259/150;
  }
}

main {
  .service {
    background-color: #f3ec8b;
    display: flex;
    flex-direction: column;
    .serviceContent {
      img.serviceMap {
        width: 80vw;
        margin: 2vh auto 0 auto;
        display: block;
      }
      nav.serviceNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin: 2vh 0 0 0;
        ul.service-left {
          display: flex;
          flex-direction: column;
          gap: 2vh;
        }
        ul.service-right {
          display: flex;
          flex-direction: column;
          gap: 2vh;
        }
      }
      .serviceSection {
        .facilitySection {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7.5vh 0 0 0;
          .facilityImg {
            .Fountain {
              .fountainComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .green;
                    display: inline-block;
                  }
                }
              }
              img.fountain {
                width: 80vw;
                margin: 0 auto 10vh auto;
              }
            }
            .Playing {
              margin: 7.5vh 0 0 0;
              .playingComment {
                display: flex;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .green;
                    display: inline-block;
                  }
                }
              }
              img.playing {
                width: 80vw;
                margin: 0 auto 10vh auto;
              }
            }
          }
        }
        .foodSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7.5vh 0 0 0;
          .foodImg {
            .Restaurant {
              .restaurantComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .blue;
                    display: inline-block;
                  }
                }
              }
              img.restaurant {
                width: 80vw;
                margin: 0 auto 1.6vh auto;
              }
              .restaurantRefer {
                display: flex;
                justify-content: center;
                gap: 2.8vw;
                margin: 1.6vh 0 0 0;
                img.internal {
                  width: 38.6vw;
                  margin: 0;
                }
                img.food {
                  width: 38.6vw;
                  margin: 0;
                }
              }
            }
            .Kitchencar {
              margin: 7.5vh 0 0 0;
              .kitchencarComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .blue;
                    display: inline-block;
                  }
                }
              }
              img.stall {
                width: 80vw;
                margin: 0 0 10vh 0;
              }
            }
          }
        }
        .souvenirShopSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7.5vh 0 0 0;
          .souvenirShopImg {
            .SouvenirShop {
              .souvenirShopComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .orange;
                    display: inline-block;
                  }
                }
              }
              img.shop {
                width: 80vw;
                margin: 0 0 1.6vh 0;
              }
              .souvenirA {
                display: flex;
                justify-content: center;
                gap: 2.8vw;
                margin: 1.6vh 0 0 0;
                img.souvenir1,
                .souvenir2 {
                  width: 38.6vw;
                  margin: 0;
                }
              }
              .souvenirB {
                display: flex;
                justify-content: center;
                gap: 2.8vw;
                margin: 1.6vh 0 0 0;
                img.souvenir3,
                .souvenir4 {
                  width: 38.6vw;
                  margin: 0;
                }
              }
            }
          }
        }
        .rentalSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7.5vh 0 0 0;
          .rentalImg {
            .Wheelchair {
              .wheelchairComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .pink;
                    display: inline-block;
                  }
                }
              }
              figure.wheelchair {
                display: flex;
                flex-direction: column;
                img.wheelchairImg {
                  width: 80vw;
                  margin: 0;
                }
                figcaption.wheelchairRent {
                  font-weight: bold;
                  text-align: center;
                  margin: 1.5vh 0 0 0;
                }
              }
            }
            .Stroller {
              margin: 7.5vh 0 0 0;
              .strollerComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .pink;
                    display: inline-block;
                  }
                }
              }
              figure.stroller {
                display: flex;
                flex-direction: column;
                img.strollerImg {
                  width: 80vw;
                  margin: 0;
                }
                figcaption.strollerRent {
                  font-weight: bold;
                  text-align: center;
                  margin: 1.5vh 0 0 0;
                }
              }
            }
          }
        }
        .receptionSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7.5vh 0 0 0;
          .ReceptionImg {
            .Reception {
              .receptionComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .pink;
                    display: inline-block;
                  }
                }
              }
              figure.reception {
                display: flex;
                flex-direction: column;
                img.receptionImg {
                  width: 80vw;
                  margin: 0;
                }
                figcaption.receptionContent {
                  ul {
                    padding: 1.5vh 0 0 1.5rem;
                    li {
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
        .medicalSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7.5vh 0 0 0;
          .medicalImg {
            .Medical {
              .medicalComment {
                display: flex;
                margin: 2.25vh 0 0 0;
                p {
                  color: $P-color;
                  font-size: 1rem;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  margin: 0 0 2.25vh 0;
                  gap: 2.7vw;
                  &::before {
                    content: "";
                    @extend .pink;
                    display: inline-block;
                  }
                }
              }
              figure.medical {
                .medicalofficeImg {
                  display: flex;
                  justify-content: center;
                  gap: 2.8vw;
                  img.medicalOffice1 {
                    width: 38.6vw;
                    margin: 0;
                  }
                  img.medicalOffice2 {
                    width: 38.6vw;
                    margin: 0;
                  }
                }
                figcaption.medicalImportant {
                  font-weight: bold;
                  text-align: center;
                  margin: 1.6vh 0 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 共通
.green {
  border-radius: 50%;
  background-color: #1be84b;
  margin: 0;
  width: 0.875rem;
  height: 0.875rem;
}

.blue {
  border-radius: 50%;
  background-color: #4c62f1;
  margin: 0;
  width: 0.875rem;
  height: 0.875rem;
}

.orange {
  border-radius: 50%;
  background-color: #f28a14;
  margin: 0;
  width: 0.875rem;
  height: 0.875rem;
}

.pink {
  border-radius: 50%;
  background-color: #ef85e1;
  margin: 0;
  width: 0.875rem;
  height: 0.875rem;
}

/* ----------------------
   PC（1200px）以上
----------------------- */
$pc-fontsize-h1: clamp(2rem, 2.5vw, 3rem);
$pc-fontsize-txt: clamp(1rem, 1.25vw, 1.5rem);
@media (min-width: 1200px) {
  main {
    .service {
      .serviceInfo {
        h1 {
          margin: 2.5vh 0 0 8vw;
          font-size: $pc-fontsize-h1;
        }
      }
      .serviceContent {
        width: 50vw;
        margin: 5.5vh auto 5.5vh auto;
        border-radius: clamp(20px, 1.6vw, 30px);
        img.serviceMap {
          width: 40vw;
          margin: 5.5vh auto 0 auto;
        }
        nav.serviceNav {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 5.5vh 0 0 0;
        }
        .serviceSection {
          .facilitySection {
            .facilityImg {
              margin: 0 auto;
              .Fountain {
                .fountainComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                img.fountain {
                  width: 31vw;
                }
              }
              .Playing {
                .playingComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                img.playing {
                  width: 31vw;
                }
              }
            }
          }
          .foodSection {
            .foodImg {
              margin: 0 auto;
              .Restaurant {
                .restaurantComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                img.restaurant {
                  width: 31vw;
                }
                .restaurantRefer {
                  gap: 1vw;
                  img.internal {
                    width: 15vw;
                  }
                  img.food {
                    width: 15vw;
                  }
                }
              }
              .Kitchencar {
                .kitchencarComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                img.stall {
                  width: 31vw;
                }
              }
            }
          }
          .souvenirShopSection {
            .souvenirShopImg {
              margin: 0 auto;
              .SouvenirShop {
                .souvenirShopComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                img.shop {
                  width: 31vw;
                }
                .souvenirA {
                  gap: 1vw;
                  img.souvenir1 {
                    width: 15vw;
                  }
                  img.souvenir2 {
                    width: 15vw;
                  }
                }
                .souvenirB {
                  gap: 1vw;
                  img.souvenir3 {
                    width: 15vw;
                  }
                  img.souvenir4 {
                    width: 15vw;
                  }
                }
              }
            }
          }
          .rentalSection {
            .rentalImg {
              .Wheelchair {
                .wheelchairComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                figure.wheelchair {
                  img.wheelchairImg {
                    width: 31vw;
                  }
                  figcaption.wheelchairRent {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
              }
              .Stroller {
                .strollerComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                figure.stroller {
                  img.strollerImg {
                    width: 31vw;
                  }
                  figcaption.strollerRent {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
              }
            }
          }
          .receptionSection {
            .ReceptionImg {
              .Reception {
                .receptionComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                figure.reception {
                  img.receptionImg {
                    width: 31vw;
                  }
                  figcaption.receptionContent {
                    ul {
                      margin: 0 0 0 1.5rem;
                      li {
                        font-size: $pc-fontsize-txt;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
          .medicalSection {
            .medicalImg {
              .Medical {
                .medicalComment {
                  p {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
                figure.medical {
                  .medicalofficeImg {
                    gap: 1vw;
                    img.medicalOffice1 {
                      width: 15vw;
                    }
                    img.medicalOffice2 {
                      width: 15vw;
                    }
                  }
                  figcaption.medicalImportant {
                    font-size: $pc-fontsize-txt;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.green {
  border-radius: 50%;
  background-color: #1be84b;
  margin: 0;
  width: $pc-fontsize-txt;
  height: $pc-fontsize-txt;
}

.blue {
  border-radius: 50%;
  background-color: #4c62f1;
  margin: 0;
  width: $pc-fontsize-txt;
  height: $pc-fontsize-txt;
}

.orange {
  border-radius: 50%;
  background-color: #f28a14;
  margin: 0;
  width: $pc-fontsize-txt;
  height: $pc-fontsize-txt;
}

.pink {
  border-radius: 50%;
  background-color: #ef85e1;
  margin: 0;
  width: $pc-fontsize-txt;
  height: $pc-fontsize-txt;
}
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}
