@font-face{
    font-family: 'HachiMaruPop-Regular';
    src: url(../fonts/HachiMaruPop-Regular.ttf) format('truetype');
}
body{
    font-size: 16px;
    padding-bottom: 100px;
}
span{
    font-family:'HachiMaruPop-Regular',sans-serif;
    font-size: 18px;
}
body{
    background-color: #A8E6CF;
}

img{
  margin-left: 30px;
  width: 300px;
  height: auto;
}
.humburger-menu img{
    width: 50px;
    height: 50px;
    margin: 0;
}
.humburger-menu{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 15px 0 0 15px;
}
.humburger-menu p{
    margin: -10px 0 0 5px ;
}
.circle-logo img{
    width: 202px;
    height: 135px;
    margin: 0;
}
.circle-logo{
    display: flex;
    justify-content: center;
    margin-top: -70px;
}
.subject{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7{
    width: 34px;
    height: 34px;
}
.hello{
    display: flex;
    justify-content: center;
    margin: 34px auto 0 auto;
    gap: 5px;   
}
.hello-text{ 
    margin-top: -20px;
}
.hello-text-content{
    margin: -18px 0 0 -34px;
}
.hello-text-content p{
    margin: 0;
    max-width: 90%;
}

.menber{
    display: flex;
    margin: 34px auto 0 auto;
    gap: 5px;   
}
.menber-text{ 
    margin-top: -20px;
}
.menber-content{
    display: flex;
    gap: 10px;
    margin: -18px 0 0 -34px;
}
.menber-content p{
    margin: 0;
    max-width: 90%;
}

.location{
    display: flex;
    margin: 34px auto 0 auto;
    gap: 5px;   
}
.location-text{ 
    margin-top: -20px;
}
.location-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -18px 0 0 -34px;
    width: 250px;
}
.location-content p{
    margin: 0;
    max-width: 90%;
    line-height: 1;
}

.time{
    display: flex;
    margin: 34px auto 0 auto;
    gap: 5px;   
}
.time-text{ 
    margin-top: -20px;
}
.time-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -18px 0 0 -34px;
    width: 250px;
}
.time-content p{
    margin: 0;
    max-width: 90%;
    line-height: 1;
}

.cost{
    display: flex;
    margin: 34px auto 0 auto;
    gap: 5px;   
}
.cost-text{ 
    margin-top: -20px;
}
.cost-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -18px 0 0 -34px;
    width: 250px;
}
.cost-content p{
    margin: 0;
    max-width: 90%;
    line-height: 1;
}

.infomation{
    display: flex;
    margin: 34px auto 0 auto;
    gap: 5px;
}
.infomation-text{ 
    margin-top: -20px;
}
.infomation-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -18px 0 0 -34px;
    width: 350x;
    height: 45px;
    overflow-y: auto; /* 縦方向にスクロール */
    border: 1px solid #ccc;
    padding: 10px;  
    direction: rtl;
    padding-left: 0;
    background-color: white;
}
.infomation-content * {
  direction: ltr;     /* 中のテキストは元に戻す */
}

/* スクロールバーの全体 */
.infomation-content::-webkit-scrollbar {
  width: 12px;
}

/* スクロールバーの中のつまみ（ドラッグするやつ） */
.infomation-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* スクロールバーの背景 */
.infomation-content::-webkit-scrollbar-track {
  background-color: #eee;
}
.infomation-content p{
    margin: 0;
    max-width: 90%;
    line-height: 1;
}