@charset "utf8";

main.commitment {
  padding: 60px 0 50px 0;
  background-color: #f1f0b6;
  span {
    color: #d45500;
  }
  article.training {
    section.training-title-wrapper {
      background-color: white;
      width: 90vw;
      height: 30px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 2.7vw;
      margin: 50px auto 0 auto;
      img.maple-mini {
        width: 24px;
        height: 24px;
        margin: 0 0 0 2.7vw;
      }
      h3.training-title {
        font-size: 1rem;
      }
    }
    section.training-image {
      display: flex;
      justify-content: center;
      gap: 5.3vw;
      margin: 15px 0;
      img.clerk-img {
        width: 31.68vw;
        aspect-ratio: 1/1;
        border-radius: 10px;
      }
      img.training-img {
        width: 31.68vw;
        aspect-ratio: 1/1;
        border-radius: 10px;
      }
    }
    section.training-detail {
      width: 90vw;
      background-color: white;
      border-radius: 10px;
      margin: 0 auto;
      p.training-comment {
        width: 82vw;
        margin: 0 auto;
        padding: 10px 0;
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
        font-family: "Arial", sans-serif;
        font-weight: bold;
      }
    }
  }
  article.ingredients {
    section.ingredients-title-wrapper {
      background-color: white;
      width: 90vw;
      height: 30px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 2.7vw;
      margin: 50px auto 0 auto;
      img.maple-mini {
        width: 24px;
        height: 24px;
        margin: 0 0 0 2.7vw;
      }
      h3.ingredients-title {
        font-size: 1rem;
      }
    }
    section.ingredients-image {
      display: flex;
      justify-content: center;
      gap: 5.3vw;
      margin: 15px 0;
      img.cow-img {
        width: 31.68vw;
        aspect-ratio: 1/1;
        border-radius: 10px;
      }
      img.farm-img {
        width: 31.68vw;
        aspect-ratio: 1/1;
        border-radius: 10px;
      }
    }
    section.ingredients-detail {
      width: 90vw;
      background-color: white;
      border-radius: 10px;
      margin: 0 auto;
      p.ingredients-comment {
        width: 82vw;
        margin: 0 auto;
        padding: 10px 0;
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
        font-family: "Arial", sans-serif;
        font-weight: bold;
      }
    }
  }
}

// 共通
section.wrapper {
  background-color: white;
  width: 90vw;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2.7vw;
  margin: 20px auto 0 auto;
  img.maple {
    width: 32px;
    height: 32px;
    margin: 0 0 0 2.7vw;
  }
  h2.title {
    font-size: 1rem;
    margin: 0;
    color: #d60000;
  }
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}

/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  body {
    main.commitment {
      padding: 60px 0 100px 0;
      section.wrapper {
        width: 50vw;
        height: 6vh;
        margin: 77px auto 0 auto;
        gap: 1vw;
        justify-content: center;
        border-radius: 20px;
        img.maple {
          width: 2.5vw;
          height: 4.4vh;
        }
        h2.title {
          font-size: clamp(12px, 1.04vw, 20px);
          span {
            font-size: clamp(12px, 1.04vw, 20px);
          }
        }
      }
      article.training {
        section.training-title-wrapper {
          width: 25vw;
          height: 4.63vh;
          border-radius: 15px;
          gap: 0.52vw;
          margin: 30px 0 0 25vw;
          img.maple-mini {
            width: 1.7vw;
            height: 3vh;
            margin: 0 0 0 0.52vw;
          }
          h3.training-title {
            font-size: clamp(12px, 1.04vw, 20px);
          }
        }
        section.training-image {
          width: 50vw;
          margin: 0 auto;
          justify-content: space-between;
          gap: 0;
          margin: 20px auto 0 auto;
          img.clerk-img,
          img.training-img {
            width: 23.4375vw;
            border-radius: 15px;
          }
        }
        section.training-detail {
          width: 50vw;
          border-radius: 15px;
          p.training-comment {
            font-size: clamp(12px, 1.04vw, 20px);
            width: 100%;
            padding: 20px 20px;
            margin: 20px 0 0 0;
          }
        }
      }
      article.ingredients {
        section.ingredients-title-wrapper {
          width: 25vw;
          height: 4.63vh;
          border-radius: 15px;
          gap: 0.52vw;
          margin: 30px 0 0 25vw;
          img.maple-mini {
            width: 1.7vw;
            height: 3vh;
            margin: 0 0 0 0.52vw;
          }
          h3.ingredients-title {
            font-size: clamp(12px, 1.04vw, 20px);
          }
        }
        section.ingredients-image {
          width: 50vw;
          margin: 0 auto;
          justify-content: space-between;
          gap: 0;
          margin: 20px auto 0 auto;
          img.cow-img,
          img.farm-img {
            width: 23.4375vw;
            border-radius: 15px;
          }
        }
        section.ingredients-detail {
          width: 50vw;
          border-radius: 15px;
          p.ingredients-comment {
            font-size: clamp(12px, 1.04vw, 20px);
            width: 100%;
            padding: 20px 20px;
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
}
