@charset "utf8";

main.recruit {
  padding-top: 80px;
  background-color: #f1f0b6;
  section.recruit-title {
    margin: 0 auto 20px auto;
  }
  article.recruitment {
    div.swiper-recruit {
      width: 90vw;
      height: 26vh;
      border-radius: 20px;
      div.swiper-wrapper-recruit {
        div.swiper-slide-recruit {
          width: 100%;
          height: 100%;
          img.recruit-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    section.recruit-banner {
      img.recruit-banner-img {
        width: 90vw;
        border-radius: 20px;
        margin: 20px auto;
        display: block;
      }
    }
  }
  article.benefits {
    background-color: #ee7457;
    padding-bottom: 50px;
    section.benefits-induction {
      figure.benefits-content {
        margin: 0;
        img.benefits-image {
          width: 48vw;
          margin: 0 auto;
          padding: 20px 0 10px 0;
          display: block;
        }
        figcaption.benefits-comment {
          width: 90vw;
          margin: 0 auto;
          font-weight: bold;
          color: white;
        }
      }
    }
    ul.benefits-detail {
      li.apply {
        margin-top: 20px;
        figure.apply-content {
          margin: 0;
          img.hamburger-clerk-img {
            width: 90vw;
            margin: 0 auto;
            display: block;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
          figcaption.apply-detail {
            width: 90vw;
            height: 25vh;
            margin: 0 auto;
            background-color: #ffefa1;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            a.apply-link {
              h3.apply-text {
                color: #5754af;
                font-size: 1.5rem;
                margin: 0;
                padding-top: 50px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

// 共通
ul.benefits-detail {
  margin: 0;
  padding: 0;
  list-style: none;
  li.benefits-list {
    margin-top: 20px;
    figure.benefits-figure {
      margin: 0;
      img.benefits-img {
        width: 90vw;
        margin: 0 auto;
        display: block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      figcaption.benefits-figcaption {
        width: 90vw;
        height: 25vh;
        margin: 0 auto;
        background-color: #ffefa1;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        dl.benefits-dl {
          font-weight: bold;
          dt.benefits-dt {
            text-align: center;
            padding: 10px 0;
          }
          dd.benefits-dd {
            width: 79.2vw;
            font-size: 0.875rem;
            margin: 0 auto;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}

/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  main.recruit {
    section.title-ber {
      width: 50vw;
      height: 6vh;
      margin: 55px auto 40px auto;
      gap: 0.52vw;
      img.maple {
        width: 2.5vw;
        height: 4.4vh;
        margin: 0 0 0 0.52vw;
      }
      h2.title {
        font-size: clamp(12px, 1.04vw, 20px);
      }
    }
    article.recruitment {
      div.swiper-recruit {
        width: 50vw;
        height: 43.6vh;
      }
      section.recruit-banner {
        img.recruit-banner-img {
          width: 50vw;
          height: 59.3vh;
          margin: 40px auto;
        }
      }
    }
    article.benefits {
      section.benefits-induction {
        figure.benefits-content {
          img.benefits-image {
            width: 18.75vw;
            padding: 50px 0 20px 0;
          }
          figcaption.benefits-comment {
            width: 50vw;
            font-size: clamp(15px, 1.25vw, 24px);
          }
        }
      }
      ul.benefits-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 7.3vw;
        width: 50vw;
        margin: 0 auto;
        li.benefits-list,
        li.apply {
          margin-top: 50px;
          figure.benefits-figure,
          figure.apply-content {
            margin: 0;
            img.benefits-img,
            img.hamburger-clerk-img {
              width: 21.5vw;
              margin: 0;
              display: block;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }
            figcaption.benefits-figcaption,
            figcaption.apply-detail {
              width: 21.5vw;
              height: 15vh;
              margin: 0;
              background-color: #ffefa1;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
              dl.benefits-dl {
                font-weight: bold;
                dt.benefits-dt {
                  text-align: center;
                  padding: 10px 0;
                }
                dd.benefits-dd {
                  width: 19.3vw;
                  font-size: 0.875rem;
                  margin: 0 auto;
                  padding-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
