@charset "utf8";
body {
  font-family: "Arial Black", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  header.mobile {
    width: 100%;
    height: 60px;
    background-color: #d4c3b4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    position: fixed;
    z-index: 10;
    a.return-top {
      h1 {
        margin: 0;
        img.top-logo {
          width: 53vw;
        }
      }
    }
    section.header-pc {
      display: none;
      ul.header-list {
        list-style: none;
        display: flex;
        align-items: center;
        width: 552px;
        li {
          font-size: 1rem;
        }
      }
    }
    button {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
  nav.navi-menu {
    background-color: #d4c3b4;
    padding: 95px 0 0 0;
    height: 100vh;
    position: relative;
    ul.menu-list {
      margin: 0;
      li.menu-menu {
        div.menu-content {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-left: 5.3vw;
          img {
            width: 32px;
            height: 32px;
          }
          span {
            font-weight: bold;
          }
        }
        hr {
          width: 90vw;
          height: 1px;
          margin: 25px auto 0 auto;
          border: none;
          background-color: black;
        }
      }
      li.menu-shop {
        margin-top: 30px;
      }
      li.menu-recruit {
        margin-top: 30px;
      }
      li.menu-inquiry {
        margin-top: 30px;
      }
      li.menu-company {
        margin-top: 30px;
      }
    }
    ul.app-induction {
      display: flex;
      justify-content: center;
      gap: 5px;
      margin: 40px 0 0 0;
      li.navi-app-store {
        img {
          width: 125px;
          height: 37px;
        }
      }
      li.navi-google-play {
        img {
          width: 125px;
          height: 37px;
        }
      }
    }
    ul.navi-sns-icon {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 10px 0 50px 0;
    }
    p.navi-copyright {
      width: 90vw;
      font-size: 0.6875rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      bottom: 5px;
      left: 5%;
    }
  }
}

// 共通
div.menu-content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 5.3vw;
  img {
    width: 32px;
    height: 32px;
  }
  span {
    font-weight: bold;
  }
}
hr {
  width: 90vw;
  height: 1px;
  margin: 25px auto 0 auto;
  border: none;
  background-color: black;
}

li.sns {
  img {
    width: 32px;
    height: 32px;
  }
}
