body {
  font-family: "Arial Black", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}
body header.mobile {
  width: 100%;
  height: 60px;
  background-color: #d4c3b4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: fixed;
  z-index: 100;
}
body header.mobile a.return-top h1 {
  margin: 0;
}
body header.mobile a.return-top h1 img.top-logo {
  width: 53vw;
}
body header.mobile section.header-pc {
  display: none;
}
body header.mobile section.header-pc ul.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 552px;
}
body header.mobile section.header-pc ul.header-list li {
  font-size: 1rem;
}
body header.mobile a img.menu-btn {
  width: 32px;
  height: 32px;
}
body main.top {
  margin-bottom: 50px;
}
body main.top article.top-slider {
  padding: 90px 0 0 0;
}
body main.top article.top-slider .swiper {
  width: 88vw;
  height: 26vh;
  border-radius: 20px;
}
body main.top article.top-slider .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
body main.top article.top-slider .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main.top article.commitment {
  width: 88vw;
  background-color: #f1f0b6;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  border-radius: 20px;
}
body main.top article.commitment section.commitment-content {
  margin-top: 20px;
}
body main.top article.commitment section.commitment-content h2.commitment-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #d60000;
  margin: 0 0 10px 0;
}
body main.top article.commitment section.commitment-content h2.commitment-title span {
  font-size: 1rem;
  font-weight: bold;
  color: #d45500;
}
body main.top article.commitment section.commitment-content a section.commitment-detail {
  width: 71.2vw;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 4px 4px black;
}
body main.top article.commitment section.commitment-content a section.commitment-detail ul.commitment-img {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 16.5px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2.4vw;
  text-align: center;
}
body main.top article.commitment section.commitment-content a section.commitment-detail ul.commitment-img li.clerk img {
  width: 30vw;
}
body main.top article.commitment section.commitment-content a section.commitment-detail ul.commitment-img li.training img {
  width: 30vw;
}
body main.top article.commitment section.commitment-content a section.commitment-detail ul.commitment-img li.cow img {
  width: 30vw;
}
body main.top article.commitment section.commitment-content a section.commitment-detail ul.commitment-img li.farm img {
  width: 30vw;
}
body main.top article.app {
  width: 88vw;
  background-color: #f1f0b6;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  border-radius: 20px;
}
body main.top article.app section.app-content {
  margin-top: 20px;
}
body main.top article.app section.app-content h2.app-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #d60000;
  margin: 0;
}
body main.top article.app section.app-content h2.app-title span {
  font-size: 1rem;
  font-weight: bold;
  color: #0015d4;
}
body main.top article.app section.app-content section.app-wrapper {
  width: 71.2vw;
  background-color: #f0e7e7;
  margin: 16.5px auto;
  border-radius: 20px;
}
body main.top article.app section.app-content section.app-wrapper ul.app-infomation {
  list-style: none;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 2.7vw;
  margin: 0;
}
body main.top article.app section.app-content section.app-wrapper ul.app-infomation li.coupon {
  width: 20vw;
  height: 6vh;
  background-color: #c59c73;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  color: white;
}
body main.top article.app section.app-content section.app-wrapper ul.app-infomation li.coupon p {
  margin: 0;
}
body main.top article.app section.app-content section.app-wrapper ul.app-infomation li.mobile-order {
  width: 20vw;
  height: 6vh;
  background-color: #c59c73;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  color: white;
}
body main.top article.app section.app-content section.app-wrapper ul.app-infomation li.mobile-order p.mobile,
body main.top article.app section.app-content section.app-wrapper ul.app-infomation li.mobile-order p.order {
  margin: 0;
  line-height: 1;
}
body main.top article.app section.app-content section.app-wrapper section.use-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
body main.top article.app section.app-content section.app-wrapper section.use-value p.value {
  font-size: 0.875rem;
  color: #d60000;
  font-weight: bold;
  margin: 0;
}
body main.top article.app section.app-content section.app-wrapper section.use-value p.use {
  font-size: 0.875rem;
  color: #d60000;
  font-weight: bold;
  margin: 0;
}
body main.top article.app section.app-content section.app-wrapper ul.app-introduction {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
  margin: 10px 0 0 0;
}
body main.top article.app section.app-content section.app-wrapper ul.app-introduction li.app-app-store img {
  width: 125px;
  height: 37px;
}
body main.top article.app section.app-content section.app-wrapper ul.app-introduction li.app-google-play img {
  width: 125px;
  height: 37px;
}
body main.top article.sns {
  width: 88vw;
  background-color: #f1f0b6;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  border-radius: 20px;
}
body main.top article.sns section.sns-content {
  margin-top: 20px;
}
body main.top article.sns section.sns-content h2.sns-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #d60000;
  margin: 0;
}
body main.top article.sns section.sns-content h2.sns-title span {
  font-size: 1rem;
  font-weight: bold;
  color: #0bb63e;
}
body main.top article.sns section.sns-content section.sns-wrapper {
  width: 71.2vw;
  background-color: #f0e7e7;
  margin: 16.5px auto;
  border-radius: 20px;
}
body main.top article.sns section.sns-content section.sns-wrapper section.follow-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main.top article.sns section.sns-content section.sns-wrapper section.follow-check p.follow {
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
}
body main.top article.sns section.sns-content section.sns-wrapper section.follow-check p.check {
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}
body main.top article.sns section.sns-content section.sns-wrapper ul.sns-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.7vw;
  margin: 0;
  padding: 0 0 20px 0;
}
body main.top article.infomation {
  width: 88vw;
  background-color: #f1f0b6;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  border-radius: 20px;
}
body main.top article.infomation section.infomation-content {
  margin-top: 20px;
}
body main.top article.infomation section.infomation-content h2.infomation-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #d60000;
  margin: 0;
}
body main.top article.infomation section.infomation-content h2.infomation-title span {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
body main.top article.infomation section.infomation-content section.infomation-wrapper {
  width: 71.2vw;
  background-color: #f0e7e7;
  margin: 16.5px auto;
  border-radius: 20px;
}
body main.top article.infomation section.infomation-content section.infomation-wrapper dl.info dt.date {
  font-family: "Arial", sans-serif;
  padding: 20px 0 0 10px;
}
body main.top article.infomation section.infomation-content section.infomation-wrapper dl.info dd.content {
  width: 66.7vw;
  margin: 0;
  padding: 10px 0 0 10px;
  font-weight: bold;
}
body main.top article.infomation section.infomation-content section.infomation-wrapper a p.more-view {
  font-size: 0.875rem;
  font-weight: bold;
  color: black;
  text-align: end;
  margin: 0;
  padding: 0 10px 10px 0;
}
body footer {
  background-color: #dcf5f9;
}
body footer ul.footer {
  width: 90vw;
  list-style: none;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
}
body footer ul.footer section.footer-menu li.menu {
  padding-top: 20px;
}
body footer ul.footer section.footer-menu hr {
  margin: 20px 0 0 0;
}
body footer ul.footer section.footer-shop li.shop {
  padding-top: 20px;
}
body footer ul.footer section.footer-shop hr {
  margin: 20px 0 0 0;
}
body footer ul.footer section.footer-recruit li.recruit {
  padding-top: 20px;
}
body footer ul.footer section.footer-recruit hr {
  margin: 20px 0 0 0;
}
body footer ul.footer section.footer-inquiry li.inquiry {
  padding-top: 20px;
}
body footer ul.footer section.footer-inquiry hr {
  margin: 20px 0 0 0;
}
body footer ul.footer section.footer-company li.company {
  padding-top: 20px;
}
body footer ul.footer section.footer-company hr {
  margin: 20px 0 0 0;
}
body footer ul.footer section.footer-am-pp li.agreement {
  padding-top: 20px;
}
body footer ul.footer section.footer-am-pp li.p-p {
  padding-top: 10px;
}
body footer img.logo {
  width: 56px;
  height: 56px;
  margin: 15px auto 15px auto;
  display: block;
}
body footer p.copyright {
  width: 90vw;
  font-size: 0.6875rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
}

/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

body {
  font-family: "Arial Black", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}
body header.mobile {
  width: 100%;
  height: 60px;
  background-color: #d4c3b4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: fixed;
  z-index: 10;
}
body header.mobile a.return-top h1 {
  margin: 0;
}
body header.mobile a.return-top h1 img.top-logo {
  width: 53vw;
}
body header.mobile section.header-pc {
  display: none;
}
body header.mobile section.header-pc ul.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 552px;
}
body header.mobile section.header-pc ul.header-list li {
  font-size: 1rem;
}
body header.mobile button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
body nav.navi-menu {
  background-color: #d4c3b4;
  padding: 95px 0 0 0;
  height: 100vh;
  position: relative;
}
body nav.navi-menu ul.menu-list {
  margin: 0;
}
body nav.navi-menu ul.menu-list li.menu-menu div.menu-content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 5.3vw;
}
body nav.navi-menu ul.menu-list li.menu-menu div.menu-content img {
  width: 32px;
  height: 32px;
}
body nav.navi-menu ul.menu-list li.menu-menu div.menu-content span {
  font-weight: bold;
}
body nav.navi-menu ul.menu-list li.menu-menu hr {
  width: 90vw;
  height: 1px;
  margin: 25px auto 0 auto;
  border: none;
  background-color: black;
}
body nav.navi-menu ul.menu-list li.menu-shop {
  margin-top: 30px;
}
body nav.navi-menu ul.menu-list li.menu-recruit {
  margin-top: 30px;
}
body nav.navi-menu ul.menu-list li.menu-inquiry {
  margin-top: 30px;
}
body nav.navi-menu ul.menu-list li.menu-company {
  margin-top: 30px;
}
body nav.navi-menu ul.app-induction {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 40px 0 0 0;
}
body nav.navi-menu ul.app-induction li.navi-app-store img {
  width: 125px;
  height: 37px;
}
body nav.navi-menu ul.app-induction li.navi-google-play img {
  width: 125px;
  height: 37px;
}
body nav.navi-menu ul.navi-sns-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 50px 0;
}
body nav.navi-menu p.navi-copyright {
  width: 90vw;
  font-size: 0.6875rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 5px;
  left: 5%;
}

div.menu-content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 5.3vw;
}
div.menu-content img {
  width: 32px;
  height: 32px;
}
div.menu-content span {
  font-weight: bold;
}

hr {
  width: 90vw;
  height: 1px;
  margin: 25px auto 0 auto;
  border: none;
  background-color: black;
}

li.sns img {
  width: 32px;
  height: 32px;
}

main.commitment {
  padding: 60px 0 50px 0;
  background-color: #f1f0b6;
}
main.commitment span {
  color: #d45500;
}
main.commitment article.training section.training-title-wrapper {
  background-color: white;
  width: 90vw;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2.7vw;
  margin: 50px auto 0 auto;
}
main.commitment article.training section.training-title-wrapper img.maple-mini {
  width: 24px;
  height: 24px;
  margin: 0 0 0 2.7vw;
}
main.commitment article.training section.training-title-wrapper h3.training-title {
  font-size: 1rem;
}
main.commitment article.training section.training-image {
  display: flex;
  justify-content: center;
  gap: 5.3vw;
  margin: 15px 0;
}
main.commitment article.training section.training-image img.clerk-img {
  width: 31.68vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
main.commitment article.training section.training-image img.training-img {
  width: 31.68vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
main.commitment article.training section.training-detail {
  width: 90vw;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
}
main.commitment article.training section.training-detail p.training-comment {
  width: 82vw;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
main.commitment article.ingredients section.ingredients-title-wrapper {
  background-color: white;
  width: 90vw;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2.7vw;
  margin: 50px auto 0 auto;
}
main.commitment article.ingredients section.ingredients-title-wrapper img.maple-mini {
  width: 24px;
  height: 24px;
  margin: 0 0 0 2.7vw;
}
main.commitment article.ingredients section.ingredients-title-wrapper h3.ingredients-title {
  font-size: 1rem;
}
main.commitment article.ingredients section.ingredients-image {
  display: flex;
  justify-content: center;
  gap: 5.3vw;
  margin: 15px 0;
}
main.commitment article.ingredients section.ingredients-image img.cow-img {
  width: 31.68vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
main.commitment article.ingredients section.ingredients-image img.farm-img {
  width: 31.68vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
main.commitment article.ingredients section.ingredients-detail {
  width: 90vw;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
}
main.commitment article.ingredients section.ingredients-detail p.ingredients-comment {
  width: 82vw;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

section.wrapper {
  background-color: white;
  width: 90vw;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2.7vw;
  margin: 20px auto 0 auto;
}
section.wrapper img.maple {
  width: 32px;
  height: 32px;
  margin: 0 0 0 2.7vw;
}
section.wrapper h2.title {
  font-size: 1rem;
  margin: 0;
  color: #d60000;
}

main.infomation {
  padding: 60px 0 50px 0;
  background-color: #f1f0b6;
}
main.infomation span {
  color: black;
}
main.infomation article.infomation-content {
  position: relative;
  margin-bottom: 378px;
}
main.infomation article.infomation-content section.choose-switch ul.switch {
  list-style: none;
  display: flex;
  gap: 2.7vw;
  margin: 50px 0 15px 0;
  padding-left: 5vw;
}
main.infomation article.infomation-content section.choose-switch ul.switch li.infomation-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  width: 22.4vw;
  height: 33px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
main.infomation article.infomation-content section.choose-switch ul.switch li.infomation-switch.active {
  background-color: #696969;
}
main.infomation article.infomation-content section.choose-switch ul.switch li.pressrelease-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  width: 35.2vw;
  height: 33px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
main.infomation article.infomation-content section.choose-switch ul.switch li.pressrelease-switch.active {
  background-color: #696969;
}
main.infomation article.infomation-content section.infomation-detail {
  position: absolute;
  left: 5vw;
  top: 48px;
  z-index: 1;
  background-color: white;
  width: 90vw;
  border-radius: 10px;
  margin: 0 auto;
  display: none;
}
main.infomation article.infomation-content section.infomation-detail ul.info-content {
  list-style: none;
  padding: 20px 0 20px 20px;
}
main.infomation article.infomation-content section.infomation-detail ul.info-content dl.info-detail-2nd {
  margin-top: 30px;
}
main.infomation article.infomation-content section.infomation-detail ul.info-content dl.info-detail-3rd {
  margin-top: 30px;
}
main.infomation article.infomation-content section.pressrelease-detail {
  position: absolute;
  left: 5vw;
  top: 48px;
  background-color: white;
  width: 90vw;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 1;
  display: none;
}
main.infomation article.infomation-content section.pressrelease-detail ul.pressrelease-content {
  list-style: none;
  padding: 20px 0 20px 20px;
}
main.infomation article.infomation-content section.pressrelease-detail ul.pressrelease-content dl.pr-detail-2nd {
  margin-top: 30px;
}
main.infomation article.infomation-content section.pressrelease-detail ul.pressrelease-content dl.pr-detail-3rd {
  margin-top: 30px;
}
main.infomation article.infomation-content section.infomation-detail.active-content,
main.infomation article.infomation-content section.pressrelease-detail.active-content {
  display: block;
  z-index: 2;
}

li.list dl,
.info-detail dl {
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
li.list dl dd,
.info-detail dl dd {
  width: 60vw;
  margin: 10px 0 0 0;
}
li.list dl hr,
.info-detail dl hr {
  margin: 10px 0 0 0;
  width: 60vw;
}/*# sourceMappingURL=main.css.map */