body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0;
  position: relative;
  div.content {
    position: relative;
    z-index: 10;
    transition: opacity 0.6s ease;
    header {
      display: flex;
      gap: 5.33vw;
      margin: 0 10vw;
      transition: opacity 0.6s ease;
      nav {
        display: flex;
        gap: 5.33vw;
        margin: 1.5vh 0 0 0;
        img.favicon {
          width: 6.4vw;
        }
        ul {
          display: flex;
          gap: 5.33vw;
          font-size: 1rem;
          padding: 0;
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
    main {
      transition: opacity 0.6s ease;
      article.top-content {
        h1 {
          width: 288px;
          font-size: 2rem;
          margin: 7.5vh auto 0 auto;
          span {
            width: 100%;
            display: block;
          }
          span.design {
            width: 100%;
            display: block;
            text-align: end;
          }
        }
      }
      article.about-content {
        margin-top: 100%;
        img.about-img {
          width: 100vw;
          aspect-ratio: 375/422;
        }
        h2.about {
          font-size: 1rem;
          width: 90vw;
          margin: 1.5vh auto 0 auto;
        }
        section.about-detail {
          width: 90vw;
          margin: 0 auto;
          div.my-data {
            display: flex;
            align-items: flex-start;
            gap: 2.7vw;
            margin: 1.5vh 0;
            p.name {
              font-size: 0.625rem;
              color: white;
              margin: 0;
            }
            p.berthday {
              font-size: 0.625rem;
              color: white;
              margin: 0;
            }
          }
          div.about-comment {
            p.comment-1st {
              font-size: 0.625rem;
              color: white;
              margin: 0;
              line-height: 2;
              letter-spacing: 0.25vw;
            }
            p.comment-2nd {
              font-size: 0.625rem;
              color: white;
              margin: 0;
              line-height: 2;
              letter-spacing: 0.25vw;
            }
            p.comment-3rd {
              font-size: 0.625rem;
              color: white;
              margin: 1.5vh 0 52.2vh 0;
              line-height: 2;
              letter-spacing: 0.25vw;
            }
          }
        }
      }
      article.skill-content {
        margin-top: 50vh;
        img.skill-img {
          width: 100%;
          aspect-ratio: 375/422;
        }
        h2.skill {
          width: 90vw;
          margin: 1.5vh auto;
          font-size: 1rem;
        }
        section.skill-detail {
          width: 90vw;
          margin: 0 auto;
          color: white;
          dl.html-css {
            margin: 0;
            dt.html-css-title {
              font-size: 0.875rem;
              font-family: "Playfair Display", serif;
            }
            dd.html-css-detail {
              font-size: 0.625rem;
              margin: 0;
            }
          }
        }
        dl.javascript {
          margin: 1.5vh 0 0 0;
          dt.javascript-title {
            font-size: 0.875rem;
            font-family: "Playfair Display", serif;
          }
          dd.javascript-detail {
            font-size: 0.625rem;
            margin: 0;
          }
        }
        dl.image-edit {
          margin: 1.5vh 0 0 0;
          dt.image-edit-title {
            font-size: 0.875rem;
            font-family: "Playfair Display", serif;
          }
          dd.image-edit-detail {
            font-size: 0.625rem;
            margin: 0;
          }
        }
        dl.site-design {
          margin: 1.5vh 0 0 0;
          dt.site-design-title {
            font-size: 0.875rem;
            font-family: "Playfair Display", serif;
          }
          dd.site-design-detail {
            font-size: 0.625rem;
            margin: 0;
          }
        }
        dl.goal {
          margin: 1.5vh 0 0 0;
          dt.goal-title {
            font-size: 0.875rem;
            font-family: "Playfair Display", serif;
          }
          dd.goal-javascript,
          dd.goal-wordpress,
          dd.goal-design {
            font-size: 0.625rem;
            margin: 0;
          }
        }
      }
      article.works-content {
        margin-top: 50vh;
        h2.works {
          font-size: 1rem;
          width: 100%;
          margin: 1.5vh 0 0 0;
          text-align: center;
        }
        ul.site-list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(2, 2fr);
          li.site-content {
            margin: 3vh 0 0 0;
            figure.site-detail {
              margin: 0;
              img.site-img {
                width: 50vw;
              }
              figcaption.site-summary {
                width: 50vw;
                margin: 0 auto;
                dl.site-url {
                  margin: 2.25vh 0 0 5.1vw;
                  dt.url {
                    font-size: 0.875rem;
                    font-family: "Playfair Display", serif;
                    color: white;
                  }
                  dd.url-detail {
                    font-size: 0.625rem;
                    color: white;
                    margin: 0;
                  }
                }
                dl.site-name {
                  margin: 2.25vh 0 0 5.1vw;
                  dt.name {
                    font-size: 0.875rem;
                    font-family: "Playfair Display", serif;
                    color: white;
                  }
                  dd.name-detail {
                    font-size: 0.625rem;
                    color: white;
                    margin: 0;
                  }
                }
                dl.site-target {
                  margin: 2.25vh 0 0 5.1vw;
                  dt.target {
                    font-size: 0.875rem;
                    font-family: "Playfair Display", serif;
                    color: white;
                  }
                  dd.target-detail {
                    font-size: 0.625rem;
                    color: white;
                    margin: 0;
                  }
                }
                dl.site-point {
                  margin: 2.25vh 0 0 5.1vw;
                  dt.point {
                    font-size: 0.875rem;
                    font-family: "Playfair Display", serif;
                    color: white;
                  }
                  dd.point-detail {
                    font-size: 0.625rem;
                    color: white;
                    margin: 0;
                  }
                }
                dl.site-design-period {
                  margin: 2.25vh 0 0 5.1vw;
                  dt.design-period {
                    font-size: 0.875rem;
                    font-family: "Playfair Display", serif;
                    color: white;
                  }
                  dd.design-period-detail {
                    font-size: 0.625rem;
                    color: white;
                    margin: 0;
                  }
                }
                dl.site-coding-period {
                  margin: 2.25vh 0 0 5.1vw;
                  dt.coding-period {
                    font-size: 0.875rem;
                    font-family: "Playfair Display", serif;
                    color: white;
                  }
                  dd.coding-period-detail {
                    font-size: 0.625rem;
                    color: white;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
      article.contact-content {
        margin-top: 50vh;
        img.contact-img {
          width: 100%;
          aspect-ratio: 375/422;
        }
        h2.contact {
          font-size: 1rem;
          width: 90vw;
          text-align: center;
          margin: 1.5vh 0;
        }
        a.mail {
          font-size: 0.875rem;
          width: 90vw;
          text-align: center;
          display: block;
          margin: 0 auto 20vh auto;
        }
      }
    }
    footer {
      margin-top: 50vh;
      font-size: 0.625rem;
      width: 90vw;
      text-align: center;
      margin: 0 auto;
      display: block;
      color: white;
    }
  }
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url(..//img/top/top-img.png);
  background-position: -131.5vw top;
  background-size: 316.2vw 100vh;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 3s ease;
  z-index: 0;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url(..//img/top/main-img.png);
  background-position: -131.5vw top;
  background-size: 316.2vw 100vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 3s ease;
  z-index: 0;
}
body div.bg-black {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
  pointer-events: none;
}
div.content {
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.6s ease;
}
body.show {
  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }
  div.bg-black {
    opacity: 1;
  }
  div.content {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  &.is-show {
    opacity: 1;
    transform: translateY(0);
  }
}

div.content {
  main {
    article.about-content,
    article.skill-content,
    article.works-content,
    article.contact-content {
      @extend .fade-in;
    }
    article.about-content {
      transition-delay: 0s;
    }
    article.skill-content {
      transition-delay: 0.2s;
    }
    article.works-content {
      transition-delay: 0.4s;
    }
    article.contact-content {
      transition-delay: 0.6s;
    }
  }
}

a,
h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: white;
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}

/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  body {
    div.content {
      header {
        gap: 1.5625vw;
        margin: 1.852vh 0 0 5.21vw;
        nav {
          gap: 1.5625vw;
          img.favicon {
            width: 2.5vw;
            height: auto;
            aspect-ratio: 48/48;
          }
          ul {
            gap: 1.5625vw;
            font-size: clamp(1.875rem, 2.5vw, 3rem);
            margin: 0;
          }
        }
      }
      main {
        article.top-content {
          h1 {
            width: 22.4vw;
            font-size: clamp(1.875rem, 2.5vw, 3rem);
            margin: 19vh 0 0 5.21vw;
          }
        }
        article.about-content {
          display: flex;
          img.about-img {
            width: 50%;
            height: 100vh;
            aspect-ratio: 960/1080;
          }
          div.about-wrapper {
            width: 50vw;
            padding-left: 1.85vw;
            box-sizing: border-box;
            h2.about {
              font-size: clamp(1.875rem, 2.5vw, 3rem);
              margin: 4.63vh 0 0 0;
              width: fit-content;
            }
            section.about-detail {
              width: 21.665625vw;
              margin: 0;
              div.my-data {
                gap: 0.52vw;
                margin: 4.63vh 0 1.85vh 0;
                p.name {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
                p.berthday {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
              }
              div.about-comment {
                width: 45vw;
                p.comment-1st {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                  line-height: 1.5;
                  letter-spacing: 0;
                }
                p.comment-2nd {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                  line-height: 1.5;
                  letter-spacing: 0;
                }
                p.comment-3rd {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                  color: white;
                  margin: 1.85vh 0 0 0;
                  line-height: 1.5;
                  letter-spacing: 0;
                }
              }
            }
          }
        }
        article.skill-content {
          display: flex;
          flex-direction: row-reverse;
          margin: 0;
          img.skill-img {
            width: 50%;
            height: 100vh;
            aspect-ratio: 960/1080;
          }
          div.skill-wrapper {
            width: 50vw;
            padding-left: 1.85vw;
            box-sizing: border-box;
            h2.skill {
              font-size: clamp(1.875rem, 2.5vw, 3rem);
              margin: 4.63vh auto 0 auto;
            }
            section.skill-detail {
              width: 50vw;
              dl.html-css {
                dt.html-css-title {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
                dd.html-css-detail {
                  font-size: clamp(0.625rem, 0.84vw, 1rem);
                }
              }
              dl.javascript {
                margin: 1.85vh 0 0 0;
                dt.javascript-title {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
                dd.javascript-detail {
                  font-size: clamp(0.625rem, 0.84vw, 1rem);
                }
              }
              dl.image-edit {
                margin: 1.85vh 0 0 0;
                dt.image-edit-title {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
                dd.image-edit-detail {
                  font-size: clamp(0.625rem, 0.84vw, 1rem);
                }
              }
              dl.site-design {
                margin: 1.85vh 0 0 0;
                dt.site-design-title {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
                dd.site-design-detail {
                  font-size: clamp(0.625rem, 0.84vw, 1rem);
                }
              }
              dl.goal {
                margin: 1.85vh 0 0 0;
                dt.goal-title {
                  font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                }
                dd.goal-javascript,
                dd.goal-wordpress,
                dd.goal-design {
                  font-size: clamp(0.625rem, 0.84vw, 1rem);
                }
              }
            }
          }
        }
        article.works-content {
          margin-top: 4.63vh;
          h2.works {
            font-size: clamp(1.875rem, 2.5vw, 3rem);
          }
          ul.site-list {
            display: flex;
            li.site-content {
              flex: 0 0 25%;
              margin: 1.85vh 0 0 0;
              figure.site-detail {
                width: 100%;
                img.site-img {
                  width: 100%;
                }
                figcaption.site-summary {
                  width: 25%;
                  margin: 0;
                  dl.site-url {
                    margin: 0 0 0 1.04vw;
                    dt.url {
                      font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                    }
                    dd.url-detail {
                      font-size: clamp(0.625rem, 0.84vw, 1rem);
                    }
                  }
                  dl.site-name,
                  dl.site-target,
                  dl.site-point,
                  dl.site-design-period,
                  dl.site-coding-period {
                    margin: 1.85vh 0 0 1.04vw;
                    dt.name,
                    dt.target,
                    dt.point,
                    dt.design-period,
                    dt.coding-period {
                      font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
                    }
                    dd.name-detail,
                    dd.target-detail,
                    dd.point-detail,
                    dd.design-period-detail,
                    dd.coding-period-detail {
                      font-size: clamp(0.625rem, 0.84vw, 1rem);
                    }
                  }
                }
              }
            }
          }
        }
        article.contact-content {
          margin: 31.4vh 0 0 0;
          display: flex;
          img.contact-img {
            width: 50%;
            height: 100vh;
          }
          div.contact-wrapper {
            width: 50vw;
            margin: 4.63vh 0 0 1.04vw;
            h2.contact {
              font-size: clamp(1.875rem, 2.5vw, 3rem);
              width: 40vw;
              text-align: start;
            }
            a.mail {
              width: 40vw;
              text-align: start;
              margin: 0;
              font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
            }
          }
        }
      }
      footer {
        font-size: 1rem;
        margin: 1vh 0;
        width: 100%;
      }
    }
  }
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(..//img/top/top-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 3s ease;
    z-index: 0;
    width: 100%;
  }
  body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(..//img/top/main-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 3s ease;
    z-index: 0;
    width: 100%;
  }
  body div.bg-black {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
    pointer-events: none;
    width: 100%;
  }
}
