@charset "UTF-8";
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0;
  position: relative;
}
body div.content {
  position: relative;
  z-index: 10;
  transition: opacity 0.6s ease;
}
body div.content header {
  display: flex;
  gap: 5.33vw;
  margin: 0 10vw;
  transition: opacity 0.6s ease;
}
body div.content header nav {
  display: flex;
  gap: 5.33vw;
  margin: 1.5vh 0 0 0;
}
body div.content header nav img.favicon {
  width: 6.4vw;
}
body div.content header nav ul {
  display: flex;
  gap: 5.33vw;
  font-size: 1rem;
  padding: 0;
}
body div.content header nav ul li {
  list-style: none;
}
body div.content header nav ul li a {
  text-decoration: none;
}
body div.content main {
  transition: opacity 0.6s ease;
}
body div.content main article.top-content h1 {
  width: 288px;
  font-size: 2rem;
  margin: 7.5vh auto 0 auto;
}
body div.content main article.top-content h1 span {
  width: 100%;
  display: block;
}
body div.content main article.top-content h1 span.design {
  width: 100%;
  display: block;
  text-align: end;
}
body div.content main article.about-content {
  margin-top: 100%;
}
body div.content main article.about-content img.about-img {
  width: 100vw;
  aspect-ratio: 375/422;
}
body div.content main article.about-content h2.about {
  font-size: 1rem;
  width: 90vw;
  margin: 1.5vh auto 0 auto;
}
body div.content main article.about-content section.about-detail {
  width: 90vw;
  margin: 0 auto;
}
body div.content main article.about-content section.about-detail div.my-data {
  display: flex;
  align-items: flex-start;
  gap: 2.7vw;
  margin: 1.5vh 0;
}
body div.content main article.about-content section.about-detail div.my-data p.name {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.about-content section.about-detail div.my-data p.berthday {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.about-content section.about-detail div.about-comment p.comment-1st {
  font-size: 0.625rem;
  color: white;
  margin: 0;
  line-height: 2;
  letter-spacing: 0.25vw;
}
body div.content main article.about-content section.about-detail div.about-comment p.comment-2nd {
  font-size: 0.625rem;
  color: white;
  margin: 0;
  line-height: 2;
  letter-spacing: 0.25vw;
}
body div.content main article.about-content section.about-detail div.about-comment p.comment-3rd {
  font-size: 0.625rem;
  color: white;
  margin: 1.5vh 0 52.2vh 0;
  line-height: 2;
  letter-spacing: 0.25vw;
}
body div.content main article.skill-content {
  margin-top: 50vh;
}
body div.content main article.skill-content img.skill-img {
  width: 100%;
  aspect-ratio: 375/422;
}
body div.content main article.skill-content h2.skill {
  width: 90vw;
  margin: 1.5vh auto;
  font-size: 1rem;
}
body div.content main article.skill-content section.skill-detail {
  width: 90vw;
  margin: 0 auto;
  color: white;
}
body div.content main article.skill-content section.skill-detail dl.html-css {
  margin: 0;
}
body div.content main article.skill-content section.skill-detail dl.html-css dt.html-css-title {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
}
body div.content main article.skill-content section.skill-detail dl.html-css dd.html-css-detail {
  font-size: 0.625rem;
  margin: 0;
}
body div.content main article.skill-content dl.javascript {
  margin: 1.5vh 0 0 0;
}
body div.content main article.skill-content dl.javascript dt.javascript-title {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
}
body div.content main article.skill-content dl.javascript dd.javascript-detail {
  font-size: 0.625rem;
  margin: 0;
}
body div.content main article.skill-content dl.image-edit {
  margin: 1.5vh 0 0 0;
}
body div.content main article.skill-content dl.image-edit dt.image-edit-title {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
}
body div.content main article.skill-content dl.image-edit dd.image-edit-detail {
  font-size: 0.625rem;
  margin: 0;
}
body div.content main article.skill-content dl.site-design {
  margin: 1.5vh 0 0 0;
}
body div.content main article.skill-content dl.site-design dt.site-design-title {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
}
body div.content main article.skill-content dl.site-design dd.site-design-detail {
  font-size: 0.625rem;
  margin: 0;
}
body div.content main article.skill-content dl.goal {
  margin: 1.5vh 0 0 0;
}
body div.content main article.skill-content dl.goal dt.goal-title {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
}
body div.content main article.skill-content dl.goal dd.goal-javascript,
body div.content main article.skill-content dl.goal dd.goal-wordpress,
body div.content main article.skill-content dl.goal dd.goal-design {
  font-size: 0.625rem;
  margin: 0;
}
body div.content main article.works-content {
  margin-top: 50vh;
}
body div.content main article.works-content h2.works {
  font-size: 1rem;
  width: 100%;
  margin: 1.5vh 0 0 0;
  text-align: center;
}
body div.content main article.works-content ul.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
body div.content main article.works-content ul.site-list li.site-content {
  margin: 3vh 0 0 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail {
  margin: 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail img.site-img {
  width: 50vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary {
  width: 50vw;
  margin: 0 auto;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-url {
  margin: 2.25vh 0 0 5.1vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-url dt.url {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
  color: white;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-url dd.url-detail {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name {
  margin: 2.25vh 0 0 5.1vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dt.name {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
  color: white;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dd.name-detail {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target {
  margin: 2.25vh 0 0 5.1vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dt.target {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
  color: white;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dd.target-detail {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point {
  margin: 2.25vh 0 0 5.1vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dt.point {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
  color: white;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dd.point-detail {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period {
  margin: 2.25vh 0 0 5.1vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dt.design-period {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
  color: white;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dd.design-period-detail {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period {
  margin: 2.25vh 0 0 5.1vw;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dt.coding-period {
  font-size: 0.875rem;
  font-family: "Playfair Display", serif;
  color: white;
}
body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dd.coding-period-detail {
  font-size: 0.625rem;
  color: white;
  margin: 0;
}
body div.content main article.contact-content {
  margin-top: 50vh;
}
body div.content main article.contact-content img.contact-img {
  width: 100%;
  aspect-ratio: 375/422;
}
body div.content main article.contact-content h2.contact {
  font-size: 1rem;
  width: 90vw;
  text-align: center;
  margin: 1.5vh 0;
}
body div.content main article.contact-content a.mail {
  font-size: 0.875rem;
  width: 90vw;
  text-align: center;
  display: block;
  margin: 0 auto 20vh auto;
}
body div.content footer {
  margin-top: 50vh;
  font-size: 0.625rem;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url(..//img/top/top-img.png);
  background-position: -131.5vw top;
  background-size: 316.2vw 100vh;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 3s ease;
  z-index: 0;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url(..//img/top/main-img.png);
  background-position: -131.5vw top;
  background-size: 316.2vw 100vh;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 3s ease;
  z-index: 0;
}

body div.bg-black {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

div.content {
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.6s ease;
}

body.show::before {
  opacity: 0;
}
body.show::after {
  opacity: 1;
}
body.show div.bg-black {
  opacity: 1;
}
body.show div.content {
  opacity: 1;
}

.fade-in, div.content main article.about-content,
div.content main article.skill-content,
div.content main article.works-content,
div.content main article.contact-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-in.is-show, div.content main article.is-show.about-content,
div.content main article.is-show.skill-content,
div.content main article.is-show.works-content,
div.content main article.is-show.contact-content {
  opacity: 1;
  transform: translateY(0);
}

div.content main article.about-content {
  transition-delay: 0s;
}
div.content main article.skill-content {
  transition-delay: 0.2s;
}
div.content main article.works-content {
  transition-delay: 0.4s;
}
div.content main article.contact-content {
  transition-delay: 0.6s;
}

a,
h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: white;
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  body div.content header {
    gap: 1.5625vw;
    margin: 1.852vh 0 0 5.21vw;
  }
  body div.content header nav {
    gap: 1.5625vw;
  }
  body div.content header nav img.favicon {
    width: 2.5vw;
    height: auto;
    aspect-ratio: 48/48;
  }
  body div.content header nav ul {
    gap: 1.5625vw;
    font-size: clamp(1.875rem, 2.5vw, 3rem);
    margin: 0;
  }
  body div.content main article.top-content h1 {
    width: 22.4vw;
    font-size: clamp(1.875rem, 2.5vw, 3rem);
    margin: 19vh 0 0 5.21vw;
  }
  body div.content main article.about-content {
    display: flex;
  }
  body div.content main article.about-content img.about-img {
    width: 50%;
    height: 100vh;
    aspect-ratio: 960/1080;
  }
  body div.content main article.about-content div.about-wrapper {
    width: 50vw;
    padding-left: 1.85vw;
    box-sizing: border-box;
  }
  body div.content main article.about-content div.about-wrapper h2.about {
    font-size: clamp(1.875rem, 2.5vw, 3rem);
    margin: 4.63vh 0 0 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  body div.content main article.about-content div.about-wrapper section.about-detail {
    width: 21.665625vw;
    margin: 0;
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.my-data {
    gap: 0.52vw;
    margin: 4.63vh 0 1.85vh 0;
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.my-data p.name {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.my-data p.berthday {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.about-comment {
    width: 45vw;
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.about-comment p.comment-1st {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
    line-height: 1.5;
    letter-spacing: 0;
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.about-comment p.comment-2nd {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
    line-height: 1.5;
    letter-spacing: 0;
  }
  body div.content main article.about-content div.about-wrapper section.about-detail div.about-comment p.comment-3rd {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
    color: white;
    margin: 1.85vh 0 0 0;
    line-height: 1.5;
    letter-spacing: 0;
  }
  body div.content main article.skill-content {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }
  body div.content main article.skill-content img.skill-img {
    width: 50%;
    height: 100vh;
    aspect-ratio: 960/1080;
  }
  body div.content main article.skill-content div.skill-wrapper {
    width: 50vw;
    padding-left: 1.85vw;
    box-sizing: border-box;
  }
  body div.content main article.skill-content div.skill-wrapper h2.skill {
    font-size: clamp(1.875rem, 2.5vw, 3rem);
    margin: 4.63vh auto 0 auto;
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail {
    width: 50vw;
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.html-css dt.html-css-title {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.html-css dd.html-css-detail {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.javascript {
    margin: 1.85vh 0 0 0;
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.javascript dt.javascript-title {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.javascript dd.javascript-detail {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.image-edit {
    margin: 1.85vh 0 0 0;
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.image-edit dt.image-edit-title {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.image-edit dd.image-edit-detail {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.site-design {
    margin: 1.85vh 0 0 0;
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.site-design dt.site-design-title {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.site-design dd.site-design-detail {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.goal {
    margin: 1.85vh 0 0 0;
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.goal dt.goal-title {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.goal dd.goal-javascript,
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.goal dd.goal-wordpress,
  body div.content main article.skill-content div.skill-wrapper section.skill-detail dl.goal dd.goal-design {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.works-content {
    margin-top: 4.63vh;
  }
  body div.content main article.works-content h2.works {
    font-size: clamp(1.875rem, 2.5vw, 3rem);
  }
  body div.content main article.works-content ul.site-list {
    display: flex;
  }
  body div.content main article.works-content ul.site-list li.site-content {
    flex: 0 0 25%;
    margin: 1.85vh 0 0 0;
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail {
    width: 100%;
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail img.site-img {
    width: 100%;
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary {
    width: 25%;
    margin: 0;
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-url {
    margin: 0 0 0 1.04vw;
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-url dt.url {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-url dd.url-detail {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period {
    margin: 1.85vh 0 0 1.04vw;
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dt.name,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dt.target,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dt.point,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dt.design-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dt.coding-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dt.name,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dt.target,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dt.point,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dt.design-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dt.coding-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dt.name,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dt.target,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dt.point,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dt.design-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dt.coding-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dt.name,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dt.target,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dt.point,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dt.design-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dt.coding-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dt.name,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dt.target,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dt.point,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dt.design-period,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dt.coding-period {
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dd.name-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dd.target-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dd.point-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dd.design-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-name dd.coding-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dd.name-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dd.target-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dd.point-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dd.design-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-target dd.coding-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dd.name-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dd.target-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dd.point-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dd.design-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-point dd.coding-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dd.name-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dd.target-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dd.point-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dd.design-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-design-period dd.coding-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dd.name-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dd.target-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dd.point-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dd.design-period-detail,
  body div.content main article.works-content ul.site-list li.site-content figure.site-detail figcaption.site-summary dl.site-coding-period dd.coding-period-detail {
    font-size: clamp(0.625rem, 0.84vw, 1rem);
  }
  body div.content main article.contact-content {
    margin: 31.4vh 0 0 0;
    display: flex;
  }
  body div.content main article.contact-content img.contact-img {
    width: 50%;
    height: 100vh;
  }
  body div.content main article.contact-content div.contact-wrapper {
    width: 50vw;
    margin: 4.63vh 0 0 1.04vw;
  }
  body div.content main article.contact-content div.contact-wrapper h2.contact {
    font-size: clamp(1.875rem, 2.5vw, 3rem);
    width: 40vw;
    text-align: start;
  }
  body div.content main article.contact-content div.contact-wrapper a.mail {
    width: 40vw;
    text-align: start;
    margin: 0;
    font-size: clamp(0.9375rem, 1.25vw, 1.5rem);
  }
  body div.content footer {
    font-size: 1rem;
    margin: 1vh 0;
    width: 100%;
  }
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(..//img/top/top-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 3s ease;
    z-index: 0;
    width: 100%;
  }
  body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(..//img/top/main-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 3s ease;
    z-index: 0;
    width: 100%;
  }
  body div.bg-black {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
    pointer-events: none;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */