/* ====================
   ヘッダー
==================== */
header{
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 1px 4px 5px black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header img{
    width: 158px;
    height: 50px;
    margin: 15px 0 15px 30px;
}
/* ====================
   トップ
==================== */
.top{
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    background-image: url(../img/background1.jpg);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 3px;
}
.slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 120px;
}
.kirikabu{
    position: relative;
}
/* ====================
   お店情報
==================== */
.shopinfomation{
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.shopinfomation h2{
    width: 90%;
}
.shopinfoA{
    width: 90%;
    height: 138px;
}
.shopcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 30px;
    gap: 10px;
}
.shopcontent p{
    font-size: 16px;
}

.address p, .tel p{
    margin-left: 18px;
}
.shopinfoB{
    width: 90%;
    height: 138px;
    position: relative;
    z-index: 0;
}
.shoptime{
    display: flex;
    gap: 20px;
}
.holiday{
    display: flex;
    gap: 5px;
}
.shoptime p{
    margin-left: 18px;
}
/* ====================
   フードメニュー
==================== */
.foodmenu{
    width: 100%;
    height: 310px;
    position: absolute;
    top: 415px;
    z-index: 100;    
}
.foodcontent{
    width: 90%;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .mainmenu{
    display: flex;
} */
/* ====================
   ドリンクメニュー
==================== */
.drinkmenu{
    width: 100%;
    position: absolute;
    top: 750px;
    z-index: 50;
}
.drinkcontent{
    width: 90%;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====================
   デザートメニュー
==================== */
.desertmenu{
    width: 100%;
    position: absolute;
    top: 1089px;
}
.desertcontent{
    width: 90%;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====================
   きりかぶからのお知らせ
==================== */
.shopannounce h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.shopannounce{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1430px;
    width: 100%;
}
.announcecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 260px;
    position: relative;
    gap: 20px;
}
.announcebox{
    background-color: #D9D9D9;
    width: 90%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.announcebox p, .announcebox h3{
    margin-left: 20px;
}
.announcetext{
    width: 80%;
}
.otherannounce{
    background-color: #95B952;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -5px;
}

/* ====================
   よくある質問
==================== */
.QandA{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 1780px;
    width: 100%;
    height: auto;
}
.QandAcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 230px;
    gap: 10px;
}
dl{
    font-size: 18px;
    font-weight: bold;
    margin-left: 7%;
}
/* ====================
   フッター
==================== */
footer{
    text-align: center;
}
/* 共通 */
body {
  font-family: 'Noto Sans JP', 'Arial', sans-serif;
}
h1{
    margin: 0;
}
h2{
    font-size: 36px;
    line-height: 1;
    color: white;
    text-shadow: 1px 4px 5px black;
    width: 90%;
    margin: 0 auto;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
p{
    font-size: 16px;
}
.bolt{
    width: 18px;
    height: 20px;
    background-image: url('../img/bolt.png');
    position: absolute;
    z-index: 100;
    background-size: cover;
}
.top-left{
    top: 5px; left: 5px;
}
.top-right{
    top: 5px; right: 5px;
}
.bottom-left{
    bottom: 5px; left: 5px;
}
.bottom-right{
    bottom: 5px; right: 5px;
}

.contentbox{
    background-color: #F8DDDD;
    border-radius: 10px;
    box-shadow: 1px 4px 5px black;
    z-index: 0;
    position: relative;
}
.otherbox{
    background-color: #95B952;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 15px 0 0 0;
}
.kirikabu{
    width: 100%;
    height: 2140px;
    background-image: url(../img/background2.jpg);
    background-repeat: repeat-y;
    background-size: 100% 520px;
}
.menuimg img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: 1px 4px 5px black;
    margin-top: 20px;   
}
.menuimg{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
}
.label{
    margin-top: 10px;
    width: 136px;
    line-height: 1;
}
button{
    all: unset;
}