@font-face {
  font-family: 'JNRfont_n';
  src: url('../fonts/JNRfont_n.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'JNRfont_n', sans-serif;
  font-size: 18px;
}

.circle {
  position: relative;
  flex-direction: column;
  top:0px;
  left: auto;
  width: 280px;
  height: 280px;
  background: black;
  border-radius: 50%;
  z-index: 0;
  color: #fff;
  display: flex;               
  justify-content: center;
  align-items: center;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  animation: heartbeat 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}
.top-page{
  display: flex;
  justify-content: center;     
  align-items: flex-start;    
  height: 100vh;               
  padding-top: 100px;        
}
.circle p{
  margin: 5px;
  text-decoration: none;
}

.myimage{
  position: relative;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  z-index: 1;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;
  width: fit-content;
  margin: 50px auto 0 auto;         
}
.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name{
  display: flex;
  flex-direction: column;
}
.label{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 15px;
}
.value{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 25px;
}
.Birthday{
  display: flex;
  flex-direction: column;
}
.birthday{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 15px;
}
.data{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 25px;
}
.border1{
  border: none;
  background-color: gray;
  height: 3px;
  width:320px;
  margin: 35px auto;
}
.my-circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.circle1, .circle2, .circle3{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(238, 79, 79);
  border-radius: 50%;
  z-index: 1;
  color: black;
}
.Hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(68, 241, 135);
  border-radius: 50%;
  z-index: 1;
  color: black;
}
.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(83, 241, 234);
  border-radius: 50%;
  z-index: 1;
  color: black;
}
.Infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(248, 246, 96);
  border-radius: 50%;
  z-index: 1;
  color: black;
}
.creator-comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #fff;
  border: black solid 3px; 
  border-radius: 50%;
  z-index: 1;
  color: black;
}
.stepback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  z-index: 1;
  color: #fff;
}
.hello{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(238, 79, 79);
  border-radius: 50%;
  z-index: 1;
  color: black;
  margin-left: 10px;
  font-size: 1rem;
}
.hello-text{
  text-align: center;
  line-height: 0;
  font-size: 1rem;
}

.hobby{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(68, 241, 135);
  border-radius: 50%;
  z-index: 1;
  color: black;
  margin-left: 10px;
  font-size: 1rem;
}
.hobby-text{
  width: 350px;
  margin: 0 auto;
}
.border2{
  border: none;
  background-color: gray;
  height: 3px;
  width:320px;
  margin: 35px auto;
}
.hobby-content{
 text-align: center;
  line-height: 0;
}
.Stepback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(248, 246, 96);
  border-radius: 50%;
  z-index: 1;
  color: black;
  margin-left: 10px;
  font-size: 1rem;
}
.inquiry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border3{
  border: none;
  background-color: gray;
  height: 3px;
  width:320px;
  margin: 35px auto;
}
.contact-form{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  padding: 8px;
  font-size: 16px;
}
.contact-form button{
  padding: 15px;
  font-size: 21px;
  background-color: black;
  color: white;
  border: none;
}

.Creator-comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #fff;
  border: black solid 3px; 
  border-radius: 50%;
  z-index: 1;
  color: black;
  margin: 10px 0 0 10px;
  line-height: 0px;
  
}

.content{
  width: 80%;
  max-width: 700px;
  line-height: 1;
  margin: 0 auto;
  font-family: sans-serif;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(83, 241, 234);
  border-radius: 50%;
  z-index: 1;
  color: black;
  font-size: 1rem;
  margin: 10px 0 0 10px;
}
.gallery-content1{
  display: flex;
  margin:10px 0 0 10px;
}
 .circle-site{
 display: inline-block;
 width: 27.4%;
 height: 100%;
 border: 1px solid black;
}
.circle-site p{
  margin: -10px 0 0 10px ;
  font-size: 0.7rem;
}
.circle-site img{
  width: 100px;
  height: 70px;
}

.cafe-site{
 display: inline-block;
 width: 100px;
 height: 78.8px;
 border: 1px solid black;
}
.cafe-site p{
  margin: -10px 0 0 10px ;
  font-size: 0.5rem;
}
.cafe-site img{
  width: 95px;
  height: 65px;
  margin-top: 10px;
}



@media only screen and (min-width: 768px) {
  .circle {
    width: 350px;
    height: 350px;
    font-size: 24px
  }
  .myimage{
    width: 300px;
    height: 300px;
  }
  .info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.label{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 20px;
}
.value{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 30px;
}
.birthday{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 20px;
}
.data{
  display: inline-block;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 30px;
}
.my-circle{
  display: flex;
  flex-direction: row;
  margin: 65px;
}
.border1{
  width: 476px;
  margin: 75px auto;
}
.hello-text{
  text-align: center;
  line-height: 0;
  font-size: 1.5rem;
  margin-top: -100px;
}
.main{
  margin-top: 80px;
}
.border1{
  margin: 40px auto;
}

.hello{
  width: 200px;
  height: 200px;
  background: rgb(238, 79, 79);
  border-radius: 50%;
  color: black;
  margin-left:  100px;
  font-size: 2rem;
}
.hobby{
  width: 200px;
  height: 200px;
  background: rgb(68, 241, 135);
  border-radius: 50%;
  color: black;
  margin-left:  100px;
  font-size: 2rem;
}
.hobby-text{
  font-size: 1.5rem;
  width: fit-content;
}
.border2{
  width: 530px;
}
.hobby-content{
  font-size: 1.5rem;
}
.hobby-page{
  align-items: center;
  margin-top: -100px;
}

.infomation {
  width: 200px;
  height: 200px;
  background: rgb(248, 246, 96);
  color: black;
  margin-left: 100px;
  font-size: 2rem;
}
.info-content{
margin-top: -150px;
}
.inquiry{
  font-size: 1.5rem;
}
.Creator-comment{
  
  width: 200px;
  height: 200px;
  margin-left: 100px;
  font-size: 2rem;
}

.gallery {
  width: 200px;
  height: 200px;
  font-size: 2rem;
  margin: 20px 0 0 100px;
}

.gallery-content1{
  margin:20px 0 0 100px;
}
 
.circle-site p{
  margin: -5px 5px 0 12px ;
  font-size: 1.5rem;
}
.circle-site img{
  width: auto;
  height: 140px;
}
.circle-site{
 width: 12%;
}
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
  
}