.box{
    width: 200px;
    height: 100px;
    background-color: #000;
}

.block {
    width: 400px;
    height: 400px;
    background-color: #555;
    margin-top: 30px;
}

#go_top {
    visibility: hidden;
    padding: 20px;
    background-color: pink;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#go_top.visible {
    visibility: visible;
}