img {
  width: 80vw;
  margin: 10vh auto;
  display: block;
}
/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  img {
    width: 35vw;
    margin: 5vh auto;
  }
}

/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}
