.background {
  background-color: #4a9b60;
  width: clamp(375px, 100%, 100%);
  height: clamp(60px, 13.6vw, 153px);
  img {
    width: clamp(94px, 20vw, 259px);
    height: clamp(60px, 13.6vw, 150px);
    margin-left: 5.2vw;
    aspect-ratio: 259/150;
  }
}

.top {
  width: 100%;
  background-image: url(../img/top/top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 375/250;
}
@media (min-width: 768px) {
  .top {
    aspect-ratio: 1920/788;
  }
}
