header {
  position: relative;
}
.background {
  background-color: #4a9b60;
  width: clamp(375px, 100%, 100%);
  height: clamp(60px, 13.6vw, 150px);
  img {
    width: clamp(94px, 20vw, 259px);
    height: clamp(60px, 13.6vw, 150px);
    margin-left: 5.2vw;
    aspect-ratio: 259/150;
  }
}

.top {
  aspect-ratio: 192/85;
  position: relative;
  z-index: 0;
  .container {
    width: 100%;
    aspect-ratio: 192/85;
    background-image: url(../img/top/top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: calc(85 / 192 * 10%);
  }
}

.menu {
  position: relative;
  width: 100vw;
  aspect-ratio: 375/309;
  background-image: url(../img/menu/zigzag-lines-7957807_1280.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    gap: 5.5vw;
    top: 8vw;

    img {
      width: 40vw;
      aspect-ratio: 150/115;
      box-shadow: 4px 4px 5px rgba($color: #000000, $alpha: 1);
    }
  }
}

.infomationcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  aspect-ratio: 375/477;
  background-image: url(../img/background/background-dot.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .infomation {
    width: 80vw;
    height: auto;
    aspect-ratio: 300/415.82;

    .infoWrapper {
      background-image: url(../img/infomation/checks-blue.png);
      width: 42.5vw;
      height: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      aspect-ratio: 160/50;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .info {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .infocomment {
      width: 80vw;
      height: auto;
      aspect-ratio: 300/366;
      background-color: white;
      border-radius: 10px;

      h2 {
        padding: 3vh 0 0 5.3vw;
      }

      a {
        color: black;
      }

      p {
        padding: 0.75vh 5.3vw 3vh 5.3vw;
        border-bottom: 1px solid #777373;
        cursor: pointer;
      }
      .infolist {
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .infotriangle {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 16px solid #4a9b60;
        }

        p {
          border-bottom: none;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }
}
h2 {
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .menu {
    width: 100%;
    background-image: url(../img/menu/background-zigzag.png);
    aspect-ratio: 1920/429;
    .menu-content {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.9vw;
      img {
        width: clamp(75px, 15.5vw, 300px);
        height: auto;
        cursor: pointer;
      }
    }
  }
}
