.swiper {
  width: clamp(200px, 52.1vw, 52.5%); /*最大値は今後他コンテンツに合わせ柔軟に変更する*/
  height: auto;
  aspect-ratio: 80/53;
  position: absolute;

  img {
    width: clamp(200px, 52.1vw, 100%); /*最大値は今後他コンテンツに合わせ柔軟に変更する*/
    height: auto;
    aspect-ratio: 80/53;
  }
}
