@charset "UTF-8";
header {
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}
header .hobby h1.site-title {
  height: 60px;
}
header .hobby h1.site-title a {
  cursor: pointer;
}
header .hobby h1.site-title a img {
  margin: 6px 0 0 0;
}
header nav ul {
  display: flex;
}
header nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
header nav ul a li {
  font-size: 14px;
  list-style: none;
  margin: 0 0 0 30px;
}

main article.main-visual img.guitar {
  width: 100%;
  max-width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0 80px 0;
}
main article.about {
  text-align: center;
}
main article.about h2.about-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(52, 62, 69);
  border-bottom: 1px solid rgb(52, 62, 69);
  display: inline-block;
  margin: 0 0 60px 0;
}
main article.about .about-content {
  margin: 0 0 100px 0;
}
main article.about .about-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
main article.about .about-content dl {
  width: 90vw;
  text-align: start;
  margin: 0 0 0 5vw;
}
main article.about .about-content dl dt {
  font: 1rem;
  margin: 10px 0;
  font-weight: bold;
}
main article.about .about-content dl dd {
  font-size: 1rem;
}
main article.music {
  text-align: center;
}
main article.music h2.music-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(52, 62, 69);
  border-bottom: 1px solid rgb(52, 62, 69);
  display: inline-block;
  margin: 0 0 60px 0;
}
main article.music figure.jpop {
  margin: 0 0 30px 0;
}
main article.music figure.jpop img {
  width: 90vw;
}
main article.music figure.jpop figcaption dl dt {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
main article.music figure.jpop figcaption dl .jpop-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main article.music figure.rock {
  margin: 0 0 30px;
}
main article.music figure.rock img {
  width: 90%;
}
main article.music figure.rock figcaption dl dt {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
main article.music figure.western {
  margin: 0 0 30px 0;
}
main article.music figure.western img {
  width: 90vw;
}
main article.music figure.western figcaption dl dt {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

footer {
  width: 90vw;
  font-size: 0.5rem;
  margin: 0 auto;
  text-align: center;
}

/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  article.about {
    max-width: 960px;
    margin: 0 auto;
  }
  article.about .about-content {
    display: flex;
    justify-content: center;
  }
  article.about .about-content img {
    margin: auto 0;
  }
  article.about .about-content dl {
    width: 20vw !important;
    margin: 0 0 0 30px !important;
  }
  article.music {
    max-width: 960px;
    margin: 0 auto;
  }
  article.music .favorite-music {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  article.music .favorite-music figure img {
    width: 20vw !important;
  }
}
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
  article.about {
    max-width: 960px;
    margin: 0 auto;
  }
  article.about .about-content {
    display: flex;
    justify-content: center;
  }
  article.about .about-content img {
    margin: auto 0;
  }
  article.about .about-content dl {
    width: 20vw !important;
    margin: 0 0 0 30px !important;
  }
  article.music {
    max-width: 960px;
    margin: 0 auto;
  }
  article.music .favorite-music {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  article.music .favorite-music figure img {
    width: 20vw !important;
  }
}
/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
  article.about {
    max-width: 960px;
    margin: 0 auto;
  }
  article.about .about-content {
    display: flex;
    justify-content: center;
  }
  article.about .about-content img {
    margin: auto 0;
  }
  article.about .about-content dl {
    width: 20vw !important;
    margin: 0 0 0 30px !important;
  }
  article.music {
    max-width: 960px;
    margin: 0 auto;
  }
  article.music .favorite-music {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  article.music .favorite-music figure img {
    width: 20vw !important;
  }
}/*# sourceMappingURL=style.css.map */