@charset "UTF-8";
main.about {
  padding: 120px 40px 160px 40px;
  article.about-content {
    h1 {
      font-size: 0.875rem;
      font-weight: normal;
      margin: 0 0 30px 0;
    }
    p.about-text {
      line-height: 1.9;
      font-size: 0.875rem;
      font-weight: normal;
    }
  }
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
@media (min-width: 600px) {
}

/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
}

/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  main.about {
    padding: 120px 40px 160px 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1360px;
    article.about-content {
      h1 {
        font-size: 0.875rem;
        font-weight: normal;
        margin: 0 0 30px 0;
      }
      p.about-text {
        line-height: 1.9;
        font-size: 0.875rem;
        font-weight: normal;
        max-width: 600px;
      }
    }
  }
}
