@charset "UTF-8";

main.top {
  article.top {
    padding: 80px 40px 110px 40px;
    h1 {
      font-size: 0.875rem;
      margin: 40px 0 30px 0;
      height: fit-content;
      font-weight: normal;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;
      figure {
        margin: 0;
        img {
          max-width: 100%;
        }
        figcaption {
          font-size: 0.75rem;
          text-align: center;
          dl {
            dt {
              margin: 0;
            }
            dd {
              margin: 0;
            }
          }
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 40px 0 0 0;
      li {
        font-size: 0.875rem;
        list-style: none;
        padding: 0 20px;
        a {
          text-decoration: none;
          color: black;
          font-size: 0.875rem;
          display: block;
          text-align: center;

          margin: 0;
        }
      }
    }
  }
}
/* ----------------------
    タブレット縦向き（600px）以上
 ----------------------- */
@media (min-width: 600px) {
}

/* ----------------------
    タブレット横向き（900px）以上
 ----------------------- */
@media (min-width: 900px) {
  main.top {
    article.top {
      width: 100%;
      max-width: 1360px;
      padding: 80px 40px 110px 40px;
      margin: 0 auto;
      h1 {
        font-size: 0.875rem;
        margin: 40px 0 30px 0;
        height: fit-content;
        font-weight: normal;
      }
      .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
        figure {
          margin: 0;
          img {
            max-width: 100%;
          }
          figcaption {
            font-size: 0.75rem;
            text-align: center;
            dl {
              dt {
                margin: 0;
              }
              dd {
                margin: 0;
              }
            }
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 40px 0 0 0;
        li {
          font-size: 0.875rem;
          list-style: none;
          padding: 0 20px;
          a {
            text-decoration: none;
            color: black;
            font-size: 0.875rem;
            display: block;
            text-align: center;

            margin: 0;
          }
        }
      }
    }
  }
}

/* ----------------------
    PC（1200px）以上
 ----------------------- */
@media (min-width: 1200px) {
  main.top {
    article.top {
      width: 100%;
      max-width: 1360px;
      padding: 80px 40px 110px 40px;
      margin: 0 auto;
      h1 {
        font-size: 0.875rem;
        margin: 40px 0 30px 0;
        height: fit-content;
        font-weight: normal;
      }
      .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
        figure {
          margin: 0;
          img {
            max-width: 100%;
          }
          figcaption {
            font-size: 0.75rem;
            text-align: center;
            dl {
              dt {
                margin: 0;
              }
              dd {
                margin: 0;
              }
            }
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 40px 0 0 0;
        li {
          font-size: 0.875rem;
          list-style: none;
          padding: 0 20px;
          a {
            text-decoration: none;
            color: black;
            font-size: 0.875rem;
            display: block;
            text-align: center;

            margin: 0;
          }
        }
      }
    }
  }
}
