@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}
header h1.site-title {
  margin: 0;
}
header h1.site-title a img {
  width: 180px;
}
header .toggle-btn.add {
  display: block;
  width: 30px;
  height: 30px;
}
header .toggle-btn.add span.span1 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 10px 0;
  z-index: 20;
}
header .toggle-btn.add span.span1:nth-child(1) {
  transform: translateY(4px) rotate(-45deg);
  transition: all 0.5s;
}
header .toggle-btn.add span.span2 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  z-index: 20;
}
header .toggle-btn.add span.span2:nth-child(2) {
  transform: translateY(4px) rotate(45deg);
  transition: all 0.5s;
}
header .toggle-btn span.span1 {
  width: 30px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 10px 0;
  transition: all 0.5s;
}
header .toggle-btn span.span2 {
  width: 30px;
  height: 2px;
  background-color: black;
  display: block;
  margin-top: 10px;
  transition: all 0.5s;
}
header nav.nav.open {
  display: block;
  padding: 36px 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
header nav.nav.open ul.nav-menu {
  margin: 0;
}
header nav.nav.open ul.nav-menu li {
  list-style: none;
  font-size: 0.875rem;
  margin-bottom: 14px;
}
header nav.nav.open ul.nav-menu li a {
  text-decoration: none;
  color: #fff;
}
header nav.nav {
  display: none;
}

main.top article.top {
  padding: 80px 40px 160px 40px;
}
main.top article.top .products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}
main.top article.top .products figure {
  margin: 0;
}
main.top article.top .products figure img {
  max-width: 100%;
}
main.top article.top .products figure figcaption {
  font-size: 0.75rem;
  text-align: center;
}
main.top article.top .products figure figcaption dl dt {
  margin: 0;
}
main.top article.top .products figure figcaption dl dd {
  margin: 0;
}
main.top article.top a {
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  display: block;
  text-align: center;
  margin: 40px 0 0 0;
}

footer {
  padding: 0 40px;
}
footer ul.sns {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
footer ul.sns li {
  list-style: none;
  font-size: 0.75rem;
}
footer ul.sns li a {
  text-decoration: none;
  color: black;
}
footer p {
  font-size: 0.625rem;
  text-align: center;
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
  header {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
  }
  header h1.site-title {
    margin: 0;
  }
  header h1.site-title a img {
    width: 180px;
  }
  header .toggle-btn.add {
    display: block;
    width: 30px;
    height: 30px;
  }
  header .toggle-btn.add span.span1 {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 10px 0;
    z-index: 20;
  }
  header .toggle-btn.add span.span1:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
    transition: all 0.5s;
  }
  header .toggle-btn.add span.span2 {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    z-index: 20;
  }
  header .toggle-btn.add span.span2:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
    transition: all 0.5s;
  }
  header .toggle-btn span.span1 {
    width: 30px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 10px 0;
    transition: all 0.5s;
  }
  header .toggle-btn span.span2 {
    width: 30px;
    height: 2px;
    background-color: black;
    display: block;
    margin-top: 10px;
    transition: all 0.5s;
  }
  header nav.nav.open {
    display: block;
    padding: 36px 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
  }
  header nav.nav.open ul.nav-menu {
    margin: 0;
  }
  header nav.nav.open ul.nav-menu li {
    list-style: none;
    font-size: 0.875rem;
    margin-bottom: 14px;
  }
  header nav.nav.open ul.nav-menu li a {
    text-decoration: none;
    color: #fff;
  }
  header nav.nav {
    display: none;
  }
  main.top article.top {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 40px 160px 40px;
  }
  main.top article.top .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
  main.top article.top .products figure {
    margin: 0;
  }
  main.top article.top .products figure img {
    max-width: 100%;
  }
  main.top article.top .products figure figcaption {
    font-size: 0.75rem;
    text-align: center;
  }
  main.top article.top .products figure figcaption dl dt {
    margin: 0;
  }
  main.top article.top .products figure figcaption dl dd {
    margin: 0;
  }
  main.top article.top a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    display: block;
    text-align: center;
    margin: 40px 0 0 0;
  }
  footer {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 400px;
  }
  footer ul.sns {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  footer ul.sns li {
    list-style: none;
    font-size: 0.75rem;
  }
  footer ul.sns li a {
    text-decoration: none;
    color: black;
  }
  footer p {
    font-size: 0.625rem;
    text-align: center;
  }
  footer {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 300px;
  }
  footer ul.sns {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  footer ul.sns li {
    list-style: none;
    font-size: 0.75rem;
  }
  footer ul.sns li a {
    text-decoration: none;
    color: black;
  }
  footer p {
    font-size: 0.625rem;
    text-align: center;
  }
}
/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  header {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
  }
  header h1.site-title {
    margin: 0;
  }
  header h1.site-title a img {
    width: 180px;
  }
  header .toggle-btn.add {
    display: block;
    width: 30px;
    height: 30px;
  }
  header .toggle-btn.add span.span1 {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 10px 0;
    z-index: 20;
  }
  header .toggle-btn.add span.span1:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
    transition: all 0.5s;
  }
  header .toggle-btn.add span.span2 {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    z-index: 20;
  }
  header .toggle-btn.add span.span2:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
    transition: all 0.5s;
  }
  header .toggle-btn span.span1 {
    width: 30px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 10px 0;
    transition: all 0.5s;
  }
  header .toggle-btn span.span2 {
    width: 30px;
    height: 2px;
    background-color: black;
    display: block;
    margin-top: 10px;
    transition: all 0.5s;
  }
  header nav.nav.open {
    display: block;
    padding: 36px 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
  }
  header nav.nav.open ul.nav-menu {
    margin: 0;
  }
  header nav.nav.open ul.nav-menu li {
    list-style: none;
    font-size: 0.875rem;
    margin-bottom: 14px;
  }
  header nav.nav.open ul.nav-menu li a {
    text-decoration: none;
    color: #fff;
  }
  header nav.nav {
    display: none;
  }
  main.top article.top {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 40px 160px 40px;
  }
  main.top article.top .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
  main.top article.top .products figure {
    margin: 0;
  }
  main.top article.top .products figure img {
    max-width: 100%;
  }
  main.top article.top .products figure figcaption {
    font-size: 0.75rem;
    text-align: center;
  }
  main.top article.top .products figure figcaption dl dt {
    margin: 0;
  }
  main.top article.top .products figure figcaption dl dd {
    margin: 0;
  }
  main.top article.top a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    display: block;
    text-align: center;
    margin: 40px 0 0 0;
  }
  footer {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 400px;
  }
  footer ul.sns {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  footer ul.sns li {
    list-style: none;
    font-size: 0.75rem;
  }
  footer ul.sns li a {
    text-decoration: none;
    color: black;
  }
  footer p {
    font-size: 0.625rem;
    text-align: center;
  }
}
main.top article.top {
  padding: 80px 40px 110px 40px;
}
main.top article.top h1 {
  font-size: 0.875rem;
  margin: 40px 0 30px 0;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: normal;
}
main.top article.top .products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}
main.top article.top .products figure {
  margin: 0;
}
main.top article.top .products figure img {
  max-width: 100%;
}
main.top article.top .products figure figcaption {
  font-size: 0.75rem;
  text-align: center;
}
main.top article.top .products figure figcaption dl dt {
  margin: 0;
}
main.top article.top .products figure figcaption dl dd {
  margin: 0;
}
main.top article.top ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 40px 0 0 0;
}
main.top article.top ul li {
  font-size: 0.875rem;
  list-style: none;
  padding: 0 20px;
}
main.top article.top ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  display: block;
  text-align: center;
  margin: 0;
}

/* ----------------------
    タブレット縦向き（600px）以上
 ----------------------- */
/* ----------------------
    タブレット横向き（900px）以上
 ----------------------- */
@media (min-width: 900px) {
  main.top article.top {
    width: 100%;
    max-width: 1360px;
    padding: 80px 40px 110px 40px;
    margin: 0 auto;
  }
  main.top article.top h1 {
    font-size: 0.875rem;
    margin: 40px 0 30px 0;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: normal;
  }
  main.top article.top .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
  main.top article.top .products figure {
    margin: 0;
  }
  main.top article.top .products figure img {
    max-width: 100%;
  }
  main.top article.top .products figure figcaption {
    font-size: 0.75rem;
    text-align: center;
  }
  main.top article.top .products figure figcaption dl dt {
    margin: 0;
  }
  main.top article.top .products figure figcaption dl dd {
    margin: 0;
  }
  main.top article.top ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 40px 0 0 0;
  }
  main.top article.top ul li {
    font-size: 0.875rem;
    list-style: none;
    padding: 0 20px;
  }
  main.top article.top ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    display: block;
    text-align: center;
    margin: 0;
  }
}
/* ----------------------
    PC（1200px）以上
 ----------------------- */
@media (min-width: 1200px) {
  main.top article.top {
    width: 100%;
    max-width: 1360px;
    padding: 80px 40px 110px 40px;
    margin: 0 auto;
  }
  main.top article.top h1 {
    font-size: 0.875rem;
    margin: 40px 0 30px 0;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: normal;
  }
  main.top article.top .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
  main.top article.top .products figure {
    margin: 0;
  }
  main.top article.top .products figure img {
    max-width: 100%;
  }
  main.top article.top .products figure figcaption {
    font-size: 0.75rem;
    text-align: center;
  }
  main.top article.top .products figure figcaption dl dt {
    margin: 0;
  }
  main.top article.top .products figure figcaption dl dd {
    margin: 0;
  }
  main.top article.top ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 40px 0 0 0;
  }
  main.top article.top ul li {
    font-size: 0.875rem;
    list-style: none;
    padding: 0 20px;
  }
  main.top article.top ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    display: block;
    text-align: center;
    margin: 0;
  }
}
main.top article.top {
  padding: 80px 40px 110px 40px;
}
main.top article.top h1 {
  font-size: 0.875rem;
  margin: 40px 0 30px 0;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: normal;
}
main.top article.top .products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}
main.top article.top .products figure {
  margin: 0;
}
main.top article.top .products figure img {
  max-width: 100%;
}
main.top article.top .products figure figcaption {
  font-size: 0.75rem;
  text-align: center;
}
main.top article.top .products figure figcaption dl dt {
  margin: 0;
}
main.top article.top .products figure figcaption dl dd {
  margin: 0;
}
main.top article.top ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 40px 0 0 0;
}
main.top article.top ul li {
  font-size: 0.875rem;
  list-style: none;
  padding: 0 20px;
}
main.top article.top ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  display: block;
  text-align: center;
  margin: 40px 0 0 0;
  margin: 0;
}

/* ----------------------
     タブレット縦向き（600px）以上
  ----------------------- */
/* ----------------------
     タブレット横向き（900px）以上
  ----------------------- */
@media (min-width: 900px) {
  main.top article.top {
    width: 100%;
    max-width: 1360px;
    padding: 80px 40px 110px 40px;
    margin: 0 auto;
  }
  main.top article.top h1 {
    font-size: 0.875rem;
    margin: 40px 0 30px 0;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: normal;
  }
  main.top article.top .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
  main.top article.top .products figure {
    margin: 0;
  }
  main.top article.top .products figure img {
    max-width: 100%;
  }
  main.top article.top .products figure figcaption {
    font-size: 0.75rem;
    text-align: center;
  }
  main.top article.top .products figure figcaption dl dt {
    margin: 0;
  }
  main.top article.top .products figure figcaption dl dd {
    margin: 0;
  }
  main.top article.top ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 40px 0 0 0;
  }
  main.top article.top ul li {
    font-size: 0.875rem;
    list-style: none;
    padding: 0 20px;
  }
  main.top article.top ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    display: block;
    text-align: center;
    margin: 40px 0 0 0;
    margin: 0;
  }
}
/* ----------------------
     PC（1200px）以上
  ----------------------- */
@media (min-width: 1200px) {
  main.top article.top {
    width: 100%;
    max-width: 1360px;
    padding: 80px 40px 110px 40px;
    margin: 0 auto;
  }
  main.top article.top h1 {
    font-size: 0.875rem;
    margin: 40px 0 30px 0;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: normal;
  }
  main.top article.top .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
  main.top article.top .products figure {
    margin: 0;
  }
  main.top article.top .products figure img {
    max-width: 100%;
  }
  main.top article.top .products figure figcaption {
    font-size: 0.75rem;
    text-align: center;
  }
  main.top article.top .products figure figcaption dl dt {
    margin: 0;
  }
  main.top article.top .products figure figcaption dl dd {
    margin: 0;
  }
  main.top article.top ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 40px 0 0 0;
  }
  main.top article.top ul li {
    font-size: 0.875rem;
    list-style: none;
    padding: 0 20px;
  }
  main.top article.top ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    display: block;
    text-align: center;
    margin: 40px 0 0 0;
    margin: 0;
  }
}
main.about {
  padding: 120px 40px 160px 40px;
}
main.about article.about-content h1 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0 0 30px 0;
}
main.about article.about-content p.about-text {
  line-height: 1.9;
  font-size: 0.875rem;
  font-weight: normal;
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  main.about {
    padding: 120px 40px 160px 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1360px;
  }
  main.about article.about-content h1 {
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0 0 30px 0;
  }
  main.about article.about-content p.about-text {
    line-height: 1.9;
    font-size: 0.875rem;
    font-weight: normal;
    max-width: 600px;
  }
}
main.company {
  padding: 120px 40px 160px 40px;
}
main.company h1 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0 0 30px 0;
}
main.company article.company-detail {
  max-width: 600px;
  font-weight: normal;
}
main.company article.company-detail .name dl {
  margin: 0;
}
main.company article.company-detail .name dl dt {
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 0.875rem;
}
main.company article.company-detail .name dl dd {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 10px 20px 10px;
  border-bottom: 1px solid #dcdbdb;
  margin: 0;
}
main.company article.company-detail .address dl {
  margin: 0;
}
main.company article.company-detail .address dl dt {
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 0.875rem;
}
main.company article.company-detail .address dl dd {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 10px 20px 10px;
  border-bottom: 1px solid #dcdbdb;
  margin: 0;
}
main.company article.company-detail .establishment dl {
  margin: 0;
}
main.company article.company-detail .establishment dl dt {
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 0.875rem;
}
main.company article.company-detail .establishment dl dd {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 10px 20px 10px;
  border-bottom: 1px solid #dcdbdb;
  margin: 0;
}
main.company article.company-detail .capital dl {
  margin: 0;
}
main.company article.company-detail .capital dl dt {
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 0.875rem;
}
main.company article.company-detail .capital dl dd {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 10px 20px 10px;
  border-bottom: 1px solid #dcdbdb;
  margin: 0;
}
main.company article.company-detail .employee dl {
  margin: 0;
}
main.company article.company-detail .employee dl dt {
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 0.875rem;
}
main.company article.company-detail .employee dl dd {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 10px 20px 10px;
  border-bottom: 1px solid #dcdbdb;
  margin: 0;
}
main.company article.company-detail .business dl {
  margin: 0;
}
main.company article.company-detail .business dl dt {
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 0.875rem;
}
main.company article.company-detail .business dl dd {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 10px 20px 10px;
  border-bottom: 1px solid #dcdbdb;
  margin: 0;
}
main.company article.company-detail .map {
  filter: grayscale(1);
}
main.company article.company-detail .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

/* ----------------------
   タブレット縦向き（600px）以上
----------------------- */
/* ----------------------
   タブレット横向き（900px）以上
----------------------- */
@media (min-width: 900px) {
  main.company {
    padding: 120px 40px 160px 40px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
  main.company h1 {
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0 0 30px 0;
  }
  main.company article.company-detail {
    max-width: 600px;
    font-weight: normal;
  }
  main.company article.company-detail .name dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
  }
  main.company article.company-detail .name dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .name dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .address dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .address dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .address dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .establishment dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .establishment dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .establishment dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .capital dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .capital dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .capital dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .employee dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .employee dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .employee dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .business {
    margin: 0 0 20px 0;
  }
  main.company article.company-detail .business dl {
    margin: 0;
    display: flex;
    align-items: center;
  }
  main.company article.company-detail .business dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .business dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .map {
    filter: grayscale(1);
  }
  main.company article.company-detail .map iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }
}
/* ----------------------
   PC（1200px）以上
----------------------- */
@media (min-width: 1200px) {
  main.company {
    padding: 120px 40px 160px 40px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
  main.company h1 {
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0 0 30px 0;
  }
  main.company article.company-detail {
    max-width: 600px;
    font-weight: normal;
  }
  main.company article.company-detail .name dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
  }
  main.company article.company-detail .name dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .name dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .address dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .address dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .address dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .establishment dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .establishment dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .establishment dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .capital dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .capital dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .capital dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .employee dl {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdbdb;
    margin: 0;
  }
  main.company article.company-detail .employee dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .employee dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .business {
    margin: 0 0 20px 0;
  }
  main.company article.company-detail .business dl {
    margin: 0;
    display: flex;
    align-items: center;
  }
  main.company article.company-detail .business dl dt {
    width: 180px;
    padding: 20px 10px;
    font-size: 0.875rem;
  }
  main.company article.company-detail .business dl dd {
    flex: 1;
    width: 100%;
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
    border-bottom: none;
  }
  main.company article.company-detail .map {
    filter: grayscale(1);
  }
  main.company article.company-detail .map iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }
}/*# sourceMappingURL=main.css.map */